<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="row text-center" layout:fragment="content">
	<div class=" offset-9 col-3 mt-3" style="display: flex;justify-content: end;">
		
		 <button class="btn btn-success mr-2" title="Thêm mới câu hỏi">
			<a th:href=" @{/admin/role/add}" style="color:white;text-decoration: none; white-space: nowrap;"> 
				<span> <i class="fa fa-plus-circle"> Thêm</i> </span> 
			</a>
		</button> 
	</div>

		<div class="col-12  mt-3" style="min-height: 600px;">
			<div class="card">
				<div class="card-header text-center">
					<h1> Quản lý vai trò</h1>
				</div>
				<div class="card-body">
					<div th:if="${message!=null}" class="alert alert-info"
								role="alert">
								<strong>[[${message}]]</strong>
						</div>
						<div th:if="${error!=null}" class="alert alert-danger"
								role="alert">
								<strong>[[${error}]]</strong>
						</div>
					<table class="table table-striped table-inverse">
						<thead class="thead-inverse">
							<tr>
								<th  style="text-align:left;">Tên vai trò</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody>
						
						
						<tr th:each=" item: ${list}">
								<td th:text="${item.name}" style="text-align:left;"></td>
								<!-- action -->
								<td>
									<a th:href="@{'/admin/role/edit-id='+${item.id}}" class="btn btn-outline-success" title="Chỉnh sửa bài nghe"> <i class="fas fa-edit"></i> </a>
								
									<a  
										class="btn btn-outline-danger"
									 	th:data-id=${item.id}
										onclick="showConfirmModalDelete(this.getAttribute('data-id'))"
										title="Xóa bài nghe"
									 ><i class="fas fa-trash"> </i>  </a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

				<!-- pageble -->
				<div class="card-footer text-muted text-center" th:if="${totalPages > 1}">
					<!-- item start of end of current page -->
					 	<span class="text-center" th:if="${currentPage==1}">Hiển thị hàng 1 - [[${itemStart}]] trong tổng  [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage>1 && currentPage<totalPages}">Hiển thị hàng [[${itemStart-4}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage==totalPages}">Hiển thị hàng [[${itemStart-4}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
						<!-- Page current: <input type="text" th:value="${currentPage}" style="width:30px; text-align: center; margin-bottom:6px;"/> -->
					
					<nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                           <!--  Trang đầu tiên -->
                              <li class="page-item ml-3" >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/admin/account/page/' + 1+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&search='+${search}}" 
                                    >
                                        <span aria-hidden="true">Trang đầu</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li> 
                                
                            <!--  về trang trước trang hiện tại -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/admin/account/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&search='+${search}}" 
                                    >
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>
 							
                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/admin/account/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}} + '&search='+${search}">[[${i}]]</a>
                                </li>
                               
                               
                               <!--  đến trang sau trang hiện tại -->
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/admin/account/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&search='+${search}}">
                                        <span aria-hidden="true">&raquo; </span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                               <!--  đến trang cuối cùng -->
                               <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/admin/account/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&search='+${search}}">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                               </li>
                                
                            </ul>
                        </nav>
					</div>
                        
                    </div>


			</div>

				<script>
					  function showConfirmModalDelete(id){
					    $('#yesOption').attr('href','/webtoeic/admin/role/delete-id='+id);
						$('#confirmationId').modal('show');
					  }
				</script>

				<!-- Modal -->
				<div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header" style="border-bottom: none;">
				        <h5 class="modal-title" style="text-align:center; width:100%;">Xác nhận</h5>
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				            <span aria-hidden="true">&times;</span>
				          </button>
				      </div>
				      <div class="modal-body">
				        Bạn chắc chắn xóa không ?
				      </div>
				      <div class="modal-footer" style="border-top: none;">
				        <a id="yesOption" type="button" class="btn btn-danger">Chắc chắn</a>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				        
				      </div>
				    </div>
				  </div>
				</div>

	</section>
</body>
</html>