<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  
</head>
<body>
		<div th:fragment="sidebar" style="height:100%;">
				<div id="sidebar">
					<div class="container-fluid tmargin">
						<div class="input-group"></div>
					</div>
					
					<ul class="nav navbar-nav side-bar">
						
						<li class="side-bar">
							<a th:href="@{/admin/}"> 
								<span style="margin:5px;"><i class="fas fa-tachometer-alt"></i></span>
								<span>&nbsp;&nbsp;Thống kê</span>
							</a>
							
						</li>
						<li class="side-bar">
							<a th:href="@{/admin/comment}">
								<span style="margin:5px;"><i class="fa fa-comment"></i></span>
								<span>&nbsp;&nbsp;Quản lý bình luận</span>
							</a>
						</li>

						
						<li class="side-bar">
							<a th:href="@{/admin/account}">
								<i class="fa fa-user" aria-hidden="true" style="margin:5px;"></i>
								<span>&nbsp;&nbsp;Quản lý tài khoản</span>
							</a>
						</li>
						<li class="side-bar">
							<a th:href="@{/admin/role}">
								<span style="margin:5px;"><i class="fas fa-user-tag"></i></span>
								<span>&nbsp;&nbsp;Quản lý vai trò</span>
							</a>
						</li>

					</ul>
				</div>
			</div>
		
		
		
			
		
</body>
</html>

