<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/teacher/dashboardLayout.html}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
<style>
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #FF6600;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #FF3300;
}

table {
		  border-collapse: collapse;
		  border-spacing: 0;
		  width: 100%;
		  border: 1px solid #ddd;
		}
		
		th, td {
		  text-align: left;
		  padding: 8px;
		 min-width: 150px;
		}
</style>

	
	
</head>
<body>

	<section class="row" layout:fragment="content">
		<div class="col-12 pt-3" style="display: flex; justify-content: space-between;">
			<form th:action="@{/teacher/history/page/1}" class="d-flex" >
				 <input type="hidden"  name="sortField" th:value="${sortField}"/>
				 <input type="hidden"  name="sortDir" th:value="${sortDir}"/>
				 <input type="text"  name="searchName" placeholder="Nhập tên tài khoản" style="padding:5px;border:1px solid grey; border-radius:5px;"/>
			     <button class="btn btn-info ml-3" type="submit" data-toggle="tooltip" title="Tìm kiếm"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
   	 </div> 
		<div class="col-12  mt-3" style="min-height: 600px;">
			<div class="card">
				<div class="card-header text-center">
					<h1>Lịch sử thi</h1>
				</div>
				<div class="card-body">
					<div th:if="${message!=null}" class="alert alert-info"
								role="alert">
								<strong>[[${message}]]</strong>
						</div>
						<div th:if="${error!=null}" class="alert alert-danger"
								role="alert">
								<strong>[[${error}]]</strong>
						</div>
				<div style="overflow-x: auto;">
					<table class="table table-striped table-inverse">
						<thead class="thead-inverse">
							<tr>
								<th>Tài khoản</th>
								<th>Bài thi</th>
								<th>Thời gian bắt đầu bài nghe</th>
								<th>Thời gian kết thúc bài nghe</th>
								<th>Thời gian bắt đầu bài đọc</th>
								<th>Thời gian kết thúc bài đọc</th>
								<th >Điểm bài nghe</th>
								<th>Điểm bài đọc</th>
								<th>Tổng điểm</th>
								<th>Chi tiết</th>
								
							</tr>
						</thead>
						<tbody >
						
							<tr th:if="${list.isEmpty()}">
								<td scope="row" colspan="9" style="text-align:center;"> Chưa có thông tin</td>
							</tr>
							<tr th:each=" item: ${list}">
							
									<td> <strong>[[${item.users.username}]]</strong></td>
									<td scope="row" th:text="${item.testExam.name}"></td>
									<td th:text="${#dates.format(item.timeStartListeningTest, 'dd-MM-yyyy hh:mm:ss')}"></td>
									<td th:text="${#dates.format(item.timeSubmitListeningTest, 'dd-MM-yyyy hh:mm:ss')}"></td>
									<td th:text="${#dates.format(item.timeStartReadingTest, 'dd-MM-yyyy hh:mm:ss')}"></td>
									<td th:text="${#dates.format(item.timeSubmitReadingTest, 'dd-MM-yyyy hh:mm:ss')}"></td>
									<td th:text="${item.totalListenCorrect}"></td>
									<td th:text="${item.totalReadingCorrect}"></td>
									<td th:text="${item.totalCorrect}"></td>
									
									<td>
										<a th:href="@{'/teacher/history/listen/'+${item.resultId}}" class="btn btn-outline-info" data-toggle="tooltip" title="Xem chi tiết"> <i class="fas fa-info"></i></a>
									</td>
							</tr>
						</tbody>
					</table>
				</div>		
					
					
					<div class="card-footer text-muted" th:if="${totalPages > 1}">
					 	<!-- item start of end of current page -->
						<div style="width: 100%;text-align: center;">
							<span th:if="${currentPage==1}">Hàng 1 - [[${itemStart}]] trong tổng [[${totalItems}]] hàng. </span>
							<span th:if="${currentPage>1 && currentPage<totalPages}">Hàng [[${itemStart-4}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
							<span th:if="${currentPage==totalPages}">Hàng [[${itemStart-4}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
						</div>
					 	
					 
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                            
                            <!--  Trang đầu tiên -->
							<li class="page-item ml-3"><a class="page-link"
								aria-label="Previous"
								th:if="${currentPage <= totalPages && currentPage>1}"
								th:href="@{'/teacher/history/page/' + 1+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchName='+${searchName}}">
									<span aria-hidden="true">Trang đầu</span> <span class="sr-only"
									th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
							</a></li>

                                <li class="page-item " >
                                    
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/teacher/history/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchName='+${searchName}}" 
                                    >
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>

                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/teacher/history/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchName='+${searchName}}">[[${i}]]</a></li>
                               
                               
                               
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/teacher/history/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchName='+${searchName}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                                
                                
                                   <!--  đến trang cuối cùng -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/teacher/history/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  +'&searchName='+${searchName}} ">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
				</div>	
			</div>
		</div>
			
		<button onclick="topFunction()" id="myBtn" title="Go to top" style="padding:8px;"><i class="fas fa-arrow-circle-up"></i></button>	
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script>
		var mybutton = document.getElementById("myBtn");
	
		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function() {scrollFunction()};
	
		function scrollFunction() {
		  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		    mybutton.style.display = "block";
		  } else {
		    mybutton.style.display = "none";
		  }
		}
	
		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
		  document.body.scrollTop = 0;
		  document.documentElement.scrollTop = 0;
		}		
		$(document).ready(function(){
			  $('[data-toggle="tooltip"]').tooltip();
			});
	</script>
	</section>	
</body>
</html>