<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/admin/dashboardLayout.html}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
        <section class="row" layout:fragment="content"> 
        
         <div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end;">
	        <button class="btn btn-warning" >
					<a th:href="@{/admin/}" style="color: white; text-decoration: none;"> 
						<strong>Quay lại</strong>
					</a>
			</button>
        </div>
        <div class="col-md-12 mt-3" style="min-height: 600px;">
	        <div th:if="${message!=null}" class="alert alert-info text-center" role="alert"> <strong>[[${message}]]</strong> </div>
			<div th:if="${error!=null}" class="alert alert-danger text-center" role="alert"> <strong>[[${error}]]</strong> </div>
          	<form  th:action="@{/admin/profile/update}" method="post" th:object="${user}">
          	  <div class="card">
                 <div class="card-header text-center">
                    <h2>Cập nhật thông tin cá nhân</h2>
                 </div>
            <div class="card-body">
                  <div class="form-group">  
                  	  <label for="fullNameId">Họ & tên:</label>        
                      <input type="text" th:field="*{fullName}" id="fullNameId" class="form-control" placeholder="Họ & tên" aria-describedby="fullNameIdHelpId" >
                      <small th:if="${#fields.hasErrors('fullName')}" id="fullNameIdHelpId"  style="color:red;">Trường họ & tên không được bỏ trống.</small>
                   </div>
                   <div class="form-group">
                   	    <label for="addressId">Địa chỉ:</label>
                        <input type="text" th:field="*{address}" id="addressId" class="form-control" placeholder="Địa chỉ" aria-describedby="addressIdHelpId">
                  		<small th:if="${#fields.hasErrors('address')}" id="addressIdHelpId"  style="color:red;">Trường địa chỉ không được bỏ trống.</small>
                   </div>
                   <div class="form-group">
                       <label for="phoneNumberId">Số điện thoại:</label>
                       <input type="text" th:field="*{phoneNumber}" id="phoneNumberId" class="form-control" placeholder="Số điện thoại" aria-describedby="phoneNumberIdHelpId">
                   	   <small th:if="${#fields.hasErrors('phoneNumber')}" id="phoneNumberIdHelpId"  style="color:red;">Trường số điện thoại không được bỏ trống.</small>
                    </div>
                    <div class="form-group">
	                     <input type="hidden" class="form-control" id="username" th:field="*{username}" >
	                    <input type="hidden" id="password" th:field="*{password}"/>
                    </div>
                   
             </div>
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
		                  <span> Cập nhật</span>                 
                     </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
           
			</div>
            </form>
		</div>
        </section>
       
</body>
</html>