<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/teacher/dashboardLayout.html}">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="../../../../css/admin.css">
	<style>
		table {
		  border-collapse: collapse;
		  border-spacing: 0;
		  width: 100%;
		  border: 1px solid #ddd;
		}
		
		th, td {
			min-width:150px;
		  text-align: left;
		  padding: 8px;
		}
	
	</style>
</head>
<body>
	<section class="row text-center" layout:fragment="content">
	
		<div class=" offset-9 col-3 mt-3" style="display: flex;justify-content: end;">
			 <button class="btn btn-info mr-2"  data-toggle="tooltip"  title="Xuất file excel">
					<a th:href="@{'/teacher/test-exam/export/excel/'+${testExamId}}" style="color:white;text-decoration: none;white-space:nowrap;"> 
						<span> <i class="fa fa-download" aria-hidden="true"> Xuất file</i> </span> 
					</a>
				</button>  
				 <button class="btn btn-success mr-2" data-toggle="tooltip"  title="Thêm mới câu hỏi">
					<a th:href=" @{'/teacher/test-exam/add-test-question='+${testExamId}}" style="color:white;text-decoration: none;white-space:nowrap;"> 
						<span> <i class="fa fa-plus-circle"> Thêm</i> </span> 
					</a>
				</button> 
			<button class="btn btn-warning mr-2">
				<a th:href="@{/teacher/test-exam}" style="color:white;text-decoration: none;white-space:nowrap;"> 
					<strong>Quay lại</strong>
				</a>
			</button>
		</div>
		<div class="col-12 mt-3" style="min-height: 600px;">
		
			<div th:if="${message!=null}" class="alert alert-info" role="alert"> <strong>[[${message}]]</strong></div>
			<div th:if="${error!=null}" class="alert alert-danger" role="alert"> <strong>[[${error}]]</strong></div>
			<h1>Danh sách câu hỏi của bài thi</h1>
			<div style="overflow-x: auto;">
				<table class="table table-striped table-inverse">
					<thead class="thead-inverse">
						<tr>
							<th>Audio</th>
							<th style="min-width:250px;">Đoạn văn</th>
							<th>Câu hỏi</th>
							<th>Câu A</th>
							<th>Câu B</th>
							<th>Câu C</th>
							<th>Câu D</th>
							<th>Đáp án đúng</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="item,i : ${testExamDetail}">
							<td>
								<audio controls th:if="${item.audio!=''}">
										<source th:src="@{${item.audio}}" type="audio/mpeg" style="width: 50px;">
								</audio>
							</td>
							<td th:text="${item.pragraph}" ></td>
							<td th:text="${item.question}" ></td>
							<td th:text="${item.option1}" ></td>
							<td th:text="${item.option2}"></td>
							<td th:text="${item.option3}"></td>
							<td th:text="${item.option4}"></td>
							<td th:text="${item.corectOption}"></td>
							<td>
								<a data-toggle="tooltip"  title="Chỉnh sửa câu hỏi" th:href="@{'/teacher/test-exam/edit-test-question='+${item.questionId}+'/'+${testExamId}}" class="btn btn-outline-success mt-1"> <i class="fas fa-edit"></i></a> 
								<!-- <a th:href="@{'/teacher/test-exam/delete-test-question='+${item.questionId}+'/'+${testExamId}}" class="btn btn-outline-danger mt-1"> <i class="fas fa-trash"></i></a> -->
								<a class="btn btn-outline-danger" data-toggle="tooltip"  title="Xóa câu hỏi" th:data-id=${item.questionId} th:data-ids=${testExamId} onclick="showConfirmModalDelete(this.getAttribute('data-id'), this.getAttribute('data-ids'))"><i class="fas fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div th:if="${totalPages > 1}" style="display: grid;">
			 	<!-- item start of end of current page -->
					 	<span class="text-center" th:if="${currentPage==1}">Hàng 1 - [[${itemStart}]] trong tổng [[${totalItems}]] hàng. </span>
						<span class="text-center" th:if="${currentPage>1 && currentPage<totalPages}">Hàng [[${itemStart-9}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage==totalPages}">Hàng [[${itemStart-9}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
						<!-- Page current: <input type="text" th:value="${currentPage}" style="width:30px; text-align: center; margin-bottom:6px;"/> -->
                        
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
					
				 			<!--  Trang đầu tiên -->
							<li class="page-item ml-3"><a class="page-link"
								aria-label="Previous"
								th:if="${currentPage <= totalPages && currentPage>1}"
								th:href="@{'/teacher/test-exam/info-id='+${testExamId}+'/page/1' }">
									<span aria-hidden="true">Trang đầu</span> <span class="sr-only"
									th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
							</a></li>
							
							<!--  về trang trước trang hiện tại -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/teacher/test-exam/info-id='  + ${testExamId}+'/page/' + ${currentPage - 1}}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>

                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/teacher/test-exam/info-id='  + ${testExamId}+'/page/' + ${i}}">[[${i}]]</a></li>
                               
                               
                                <!--  đến trang sau trang hiện tại -->
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/teacher/test-exam/info-id='  + ${testExamId}+'/page/' + ${currentPage + 1}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                                
                                <!--  đến trang cuối cùng -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/teacher/test-exam/info-id='  + ${testExamId} + '/page/' + ${totalPages}} ">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
			 	</div>
		</div>
				
				
			</div>
			
			
			<script>
					  function showConfirmModalDelete(id,ids){
					    $('#yesOption').attr('href','/webtoeic/teacher/test-exam/delete-test-question='+id+'/'+ids);
						$('#confirmationId').modal('show');
					  }
				</script>

				<!-- Modal -->
				<div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Xác nhận</h5>
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				            <span aria-hidden="true">&times;</span>
				          </button>
				      </div>
				      <div class="modal-body">
				        Bạn chắc chắn xóa câu hỏi này không ?
				      </div>
				      <div class="modal-footer">
				        <a id="yesOption" type="button" class="btn btn-danger">Yes</a>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
	
	</section>
</body>
</html>

<script>
$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
</script>