<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/teacher/dashboardLayout.html}"
>
<head>
	<meta charset="UTF-8">
	
</head>
<body>
        <section class="row" layout:fragment="content"> 
         <div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end;">
	        <button class="btn btn-warning" >
					<a th:href="@{'/teacher/test-exam/info-id='+${id}+'/page/1'}" style="color: white; text-decoration: none;"> 
						<strong>Quay lại</strong>
					</a>
			</button>
        </div>
	        
         <div class="col-md-12">
		    <form  th:action="@{/teacher/test-exam/save-test-question}" method="post" th:object="${listQuestion}" enctype="multipart/form-data">
             <div class="card mt-3">
                 <div class="card-header text-center">
                   <h2 th:unless="${listQuestion.isEdit}">Thêm câu hỏi đề thi</h2>
                   <h2 th:if="${listQuestion.isEdit}">Sửa câu hỏi bài thi</h2>
                 </div>
                 
                 
                 <div class="card-body">
                 	<div th:if="${error!=null}" class="alert alert-danger" role="alert"> <strong>[[${error}]]</strong></div>
                 
                   <div class="form-group">
                  	  <input type="hidden" th:field="*{isEdit}">
                  	  <input type="hidden" th:field="*{questionId}" id="listenId" class="form-control" placeholder="Listening Id" aria-describedby="ListenIdHelpId" th:if="${listQuestion.isEdit}" readonly="False" >
                  	  
                   </div>
                    
                 	<div class="form-group">
                         <label for="fileNge">File nghe câu hỏi:</label>
                         <input type="hidden" th:field="*{audio}" id="listenId" class="form-control" placeholder="Câu A:" aria-describedby="ListenIdHelpId"   th:if="${listQuestion.isEdit}" >
                         <input type="file" class="form-control" id="file_listen" name="file_listen"   accept=".mp3,.org">
                    </div>
                          
                    <div class="form-group">
                      <label for="fileNge">Đoạn văn:</label><br />
                      <textarea id="pragraph" th:field="*{pragraph}" cols="129"  placeholder="Nhập đoạn văn" style="height:100px;resize: none;">
						
						</textarea>
                    </div>
                    <div class="form-group">
                      <label for="fileNge">Câu hỏi:</label> <br />
                      <textarea id="question" th:field="*{question}"  cols="129" placeholder="Nhập câu hỏi" style="height:100px;resize: none;">
						
					  </textarea>
                    </div>
                    
                    <div class="form-group">
                      <label for="option1Id">Đáp án A(<strong style="color:red;">*</strong>) :</label>
                      <input type="text" th:field="*{option1}" id="option1Id" class="form-control" placeholder="Nhập đáp án A" aria-describedby="option1Id" >
                      <small th:if="${#fields.hasErrors('option1')}" id="option1Id"  style="color:red;">Không được bỏ trống!</small>
                    </div>
                    
                    
                    <div class="form-group">
                      <label for="option2Id">Đáp án B(<strong style="color:red;">*</strong>):</label>
                      <input type="text" th:field="*{option2}" id="option2Id" class="form-control" placeholder="Nhập đáp án B" aria-describedby="option2Id" >
                      <small th:if="${#fields.hasErrors('option2')}" id="option2Id"  style="color:red;">Không được bỏ trống!</small>
                    </div>
                    
                    
                    <div class="form-group">
                      <label for="option3Id">Đáp án C (<strong style="color:red;">*</strong>): </label>
                      <input type="text" th:field="*{option3}" id="option3Id" class="form-control" placeholder="Nhập đáp án C" aria-describedby="option3Id" >
                      <small th:if="${#fields.hasErrors('option3')}" id="option3Id"  style="color:red;">Không được bỏ trống!</small>
                    </div>
                    
                    <div class="form-group">
                      <label for="fileNge">Đáp án D:</label>
                      <input type="text" th:field="*{option4}" id="listenId" class="form-control" placeholder="Nhập đáp án D" aria-describedby="ListenIdHelpId" >
                    </div>
                    
                    <div class="form-group">
                    	 <label for="dId">Đáp án đúng</label>
                    	 <select class="form-control mr-2" name="corectOption" title="Đáp án đúng">
				        	 <option value="A" th:selected="${corectOption=='A'}">A</option>
	                         <option value="B" th:selected="${corectOption=='B'}">B</option>
	                         <option value="C" th:selected="${corectOption=='C'}">C</option>
	                         <option value="D" th:selected="${corectOption=='D'}">D</option>
	                             
                   		 </select>
                    </div>
                    <div class="form-group">
                      <label for="fileNge">Giải thích:</label>
                      <input type="text" th:field="*{explains}" id="listenId" class="form-control" placeholder="Nhập giải thích" aria-describedby="ListenIdHelpId" >
                    </div>
                    
                    <script>
						function chooseFile(fileInput) {
							if (fileInput.files && fileInput.files[0]) {
								var reader = new FileReader();
									reader.onload = function(e) {
										$('#image').attr('src', e.target.result);
									}
									reader.readAsDataURL(fileInput.files[0]);

								}
							}
					</script>
						
						<div class="form-group">
							<label for="imageVocab">File ảnh bài hướng dẫn:</label> 
							<input type="hidden" th:field="*{image}" class="form-control" th:value="*{image}"/>
							<input type="file" class="form-control" id="file_imageVocab" name="file_imageQuestion" onchange="chooseFile(this)" accept=".png,.jpg" /> 
							<img id="image" th:unless="${listQuestion.isEdit}" th:src="@{/image/anhbainghe.png}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">
							<img id="image" th:if="${listQuestion.isEdit}" th:src="@{*{image}}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">
						</div>
                    
                    <div class="form-group" >
                    
                      <input type="text" th:value="${id}" name="id" id="listenId" class="form-control" placeholder="Listening Id" aria-describedby="ListenIdHelpId" readonly="False" >
                      
                    </div>

                 </div>
                 
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
		                  <span th:unless="${listQuestion.isEdit}"> Lưu</span>    
		                  <span th:if="${listQuestion.isEdit}"> Cập nhật</span>          
                     </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
                 
             </div>

            </form>
		    </div>
		   
        </section>
        
        
        <script src="../js/validator.js"></script>

	    <script type="text/javascript">
	    activemenu();
	    </script>
</body>
</html>