<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/teacher/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="row" layout:fragment="content">

		 <div class="col-md-12 mt-5">
          <form  th:action="@{/teacher/test-exam/save}" method="post" th:object="${testExam}" enctype="multipart/form-data">
             <div class="card">
                 <div class="card-header text-center">
                    <h2>Thêm mới câu hỏi đề thi</h2>
                 </div>
                 <div class="card-body">
                 
                 	<div th:if="${error!=null}" class="alert alert-danger" role="alert"> <strong>[[${error}]]</strong></div>
                 
                    <div class="form-group">
                      <input type="hidden" th:field="*{testExamId}" id="readingId" class="form-control" placeholder="readinging Id" aria-describedby="readingIdHelpId" readonly="False">
                    </div>
                    
                  
                    <div class="form-group">
                      <label for="nameId">Tên bài thi:</label>
                      <input type="text" class="form-control" th:field="*{name}" id="nameId" aria-describedby="nameHelpId" placeholder="Tên bài thi">
                      <small th:if="${#fields.hasErrors('name')}" id="nameHelpId"  style="color:red;">Tên bài thi không được bỏ trống!</small>
                    </div>

                      <script>
							function chooseFile(fileInput) {
								if (fileInput.files && fileInput.files[0]) {
									var reader = new FileReader();
									reader.onload = function(e) {
										$('#image').attr('src', e.target.result);
									}
									reader.readAsDataURL(fileInput.files[0]);

								}
							}
						</script>
						

                   <div class="form-group">
                         <label for="imageVocab" >Ảnh bài thi:</label>
                         <input  type="file" class="form-control" id="file_imageVocab" name="file_imageQuestion"   onchange="chooseFile(this)" accept=".png,.jpg" />
						 <img id="image" th:src="@{/image/anhbaidoc.jpg}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">	 
                   </div>
            
                    <div class="form-group">
                         <label for="fileExcel" >File nội dung  <a th:href="@{../../resources/file/mau/mau_de_thi.xlsx}">(Tải file mẫu)</a> </label>
                         <input type="file" class="form-control" id="file_Excel" name="file_Excel" accept=".xlsx,.xls" >
                    </div>  

                 </div>
                 
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
		               
		                 <span> Lưu</span>                   
                     </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
             </div>

            </form>
</div>

	</section>
</body>
</html>