<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/teacher/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="row" layout:fragment="content">
		<div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end;">
	        <button class="btn btn-warning" >
					<a th:href="@{/teacher/test-exam/}" style="color: white; text-decoration: none;"> 
						<strong>Quay lại</strong>
					</a>
			</button>
        </div>
		<div class="col-12  mt-5">

			<form th:action="@{/teacher/test-exam/update}" method="post" th:object="${testExam}"  enctype="multipart/form-data">
				<div class="card">
					<div class="card-header text-center">
						<h2>Cập nhật đề thi thử</h2>
					</div>
					
					<div class="card-body">
                 
                    <div class="form-group">
                      <input type="hidden" id="listenId" th:field="*{testExamId}" class="form-control" placeholder="test exam Id" aria-describedby="ListenIdHelpId" >
                    </div>
                      <label  th:if="${message != null}"  th:text="${message}" style="color:red;"></label>
                    
                    <div class="form-group">
                      <label for="nameId">Tên bài thi:</label>
                      <input type="text" class="form-control" th:field="*{name}" id="nameId" aria-describedby="nameHelpId" placeholder="Tên bài thi">
                      <small th:if="${#fields.hasErrors('name')}" id="nameHelpId"  style="color:red;">Không được bỏ trống!</small>
                    </div>

						<script>
							function chooseFile(fileInput) {
								if (fileInput.files && fileInput.files[0]) {
									var reader = new FileReader();
									reader.onload = function(e) {
										$('#image').attr('src', e.target.result);
									}
									reader.readAsDataURL(fileInput.files[0]);

								}
							}
						</script>
						
						<div class="form-group">
							<label for="imageVocab">File ảnh bài thi:</label> 
							<input type="file" class="form-control" id="file_imageVocab" name="file_imageQuestion" onchange="chooseFile(this)" accept=".png,.jpg" /> 
							<img id="image" th:src="@{/image/tuvung.png}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">
						</div>
            
                     
                 </div>
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
                      	<span>Cập nhật</span> 
		             </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>


				</div>
			</form>
		</div>


	</section>
</body>
</html>