<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/teacher/dashboardLayout.html}">
<head>
	<meta charset="UTF-8">
	<style>
			table {
			  border-collapse: collapse;
			  border-spacing: 0;
			  width: 100%;
			  border: 1px solid #ddd;
			}
			
			th, td {
			  text-align: left;
			  padding: 8px;
			  min-width: 150px;
			}
		</style>
	<link rel="stylesheet" href="../../../../css/admin.css">
</head>
<body>
	<section class="row text-center" layout:fragment="content">

	<div class="offset-9 col-3 mt-3" style="display: flex;justify-content: end;">

	 <button class="btn btn-info ml-1" data-toggle="tooltip" title="Xuất file excel">
			<a th:href="@{'/teacher/vocabulary/export/excel/'+${vocabId} }" style="color:white;text-decoration: none; white-space: nowrap;"> 
				<span> <i class="fa fa-download" aria-hidden="true"> Xuất file</i> </span> 
			</a>
		</button>  
		  <button class="btn btn-success  ml-1" data-toggle="tooltip" title="Thêm mới từ vựng">
			<a th:href=" @{'/teacher/vocabulary/add-new-vocabulary='+${vocabId}}" style="color:white;text-decoration: none; white-space: nowrap;"> 
				<span> <i class="fa fa-plus-circle"> Thêm</i> </span> 
			</a>
		</button>  
		<button class="btn btn-warning  ml-1" data-toggle="tooltip" title="Quay lại trang trước">
			<a th:href=" @{/teacher/vocabulary}" style="color:white;text-decoration: none;white-space: nowrap;"> 
				<strong>Quay lại</strong>
			</a>
		</button> 
	</div>
		<div class="col-12  mt-3" style="min-height: 600px;">
		
		<div class="card-header text-center">
			<h1>Từ vựng chủ đề [[${detail.name}]]</h1>
		</div>
		
		
		
		<div th:if="${message!=null}" class="alert alert-info"
							role="alert">
							<strong>[[${message}]]</strong>
					</div>
					<div th:if="${error!=null}" class="alert alert-danger"
							role="alert">
							<strong>[[${error}]]</strong>
					</div>
			<div style="overflow-x: auto;">
			
				<table class="table table-striped table-inverse">
				<thead class="thead-inverse">
						<tr>
								<th>Từ vựng</th>
								<th>Phiên âm</th>
								<th>Ảnh</th>
								<th>Audio</th>
								<th>Nghĩa</th>
								<th>Ví dụ</th>
								<th>Action</th>
								
						</tr>
						</thead>
						<tbody>
						
						<tr th:if="${vocab.isEmpty()}">
							<td colspan="7">Chưa có thông tin</td>
						</tr>
						<tr th:each="item,i : ${vocab}">
				
								<td th:text="${item.vocab}"></td>
								
								<td th:text="${item.spelling}"></td>
								
								<td>
									<img th:src="@{${item.images}}" alt="ảnh bài" height="30px" width="30px" />
							 	</td>
								
								<td>
									<audio controls>
  										<source th:src="@{${item.audio}}" type="audio/mpeg" style="width:50px;">
									</audio>
								</td>
								
								<td th:text="${item.mean}"></td>
								
								<td th:text="${item.sentence}"></td>
							
								
								
								<td>
									<a data-toggle="tooltip" title="Sửa từ vựng" th:href="@{'/teacher/vocabulary/edit-vocabulary-id='+${item.cVocabId}+'/'+${vocabId}}" class="btn btn-outline-success"> <i class="fas fa-edit"></i> </a>
									<!-- <a th:href="@{'/teacher/vocabulary/delete-vocabulary-id='+${item.cVocabId} +'/'+${id}}" class="btn btn-outline-danger mt-1"> <i class="fas fa-trash"></i> </a> -->	
								<a 		
									class="btn btn-outline-danger mt-1"
								 	th:data-id=${item.cVocabId}
								 	th:data-ids=${vocabId}
								 	data-toggle="tooltip" title="Xóa từ vựng"
									onclick="showConfirmModalDelete(this.getAttribute('data-id'), this.getAttribute('data-ids'))"
								 ><i class="fas fa-trash"> </i>  </a>
								</td> 
						</tr> 
						
						
			</tbody>
		</table>
			</div>
			
		
		<div th:if="${totalPages > 1}" style="display: grid;">
			 	<!-- item start of end of current page -->
					 	<span class="text-center" th:if="${currentPage==1}">Hàng 1 - [[${itemStart}]] trong tổng [[${totalItems}]] hàng. </span>
						<span class="text-center" th:if="${currentPage>1 && currentPage<totalPages}">Hàng [[${itemStart-4}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage==totalPages}">Hàng [[${itemStart-4}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
						<!-- Page current: <input type="text" th:value="${currentPage}" style="width:30px; text-align: center; margin-bottom:6px;"/> -->
                        
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
					
				 			<!--  Trang đầu tiên -->
							<li class="page-item ml-3"><a class="page-link"
								aria-label="Previous"
								th:if="${currentPage <= totalPages && currentPage>1}"
								th:href="@{'/teacher/vocabulary/info-id='+${vocabId}+'/page/1' }">
									<span aria-hidden="true">Trang đầu</span> <span class="sr-only"
									th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
							</a></li>
							
							<!--  về trang trước trang hiện tại -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/teacher/vocabulary/info-id='  + ${vocabId}+'/page/' + ${currentPage - 1}}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>

                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/teacher/vocabulary/info-id='  + ${vocabId}+'/page/' + ${i}}">[[${i}]]</a></li>
                                <!--  đến trang sau trang hiện tại -->
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/teacher/vocabulary/info-id='  + ${vocabId}+'/page/' + ${currentPage + 1}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                                
                                <!--  đến trang cuối cùng -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/teacher/vocabulary/info-id='  + ${vocabId} + '/page/' + ${totalPages}} ">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
			 	</div>
		</div>
			
			
			
			<script>
					  function showConfirmModalDelete(id,ids){
					    $('#yesOption').attr('href','/webtoeic/teacher/vocabulary/delete-vocabulary-id='+id+'/'+ids);
						$('#confirmationId').modal('show');
					  }
				</script>

				<!-- Modal -->
				<div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Xác nhận</h5>
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				            <span aria-hidden="true">&times;</span>
				          </button>
				      </div>
				      <div class="modal-body">
				        Bạn chắc chắn xóa không ?
				      </div>
				      <div class="modal-footer">
				        <a id="yesOption" type="button" class="btn btn-danger">Yes</a>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
	</section>
	

</body>
</html>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
</script>
	