<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/teacher/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="row text-center" layout:fragment="content">
	
	<div class="col-12 mt-3" style="display: flex; justify-content: space-between;">
			<form th:action="@{/teacher/vocabulary/page/1}" class="d-flex" >
				 <input type="hidden"  name="sortField" th:value="${sortField}"/>
				 <input type="hidden"  name="sortDir" th:value="${sortDir}"/>
				 <input type="text"  name="searchName" placeholder="Nhập tên bài từ vựng" style="padding:5px;border:1px solid grey; border-radius:5px;"/>
			     <button class="btn btn-info ml-3" type="submit" data-toggle="tooltip" title="Tìm kiếm"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
			    
	<button class="btn btn-success" data-toggle="tooltip" title="Thêm mới bài từ vựng"><a th:href="@{/teacher/vocabulary/add}" style="color:white;text-decoration: none;"><span><i class="fa fa-plus-circle" aria-hidden="true"> Thêm</i></span></a></button>
    </div>     
	
	 
		<div class="col-12  mt-3" style="min-height: 600px;">
			<div class="card">
			
				<div class="card-header text-center">
					<h1>Quản lý từ vựng</h1>
				</div>
				<div class="card-body">
					<div th:if="${message!=null}" class="alert alert-info"
								role="alert">
								<strong>[[${message}]]</strong>
					</div>
					<div th:if="${error!=null}" class="alert alert-danger"
								role="alert">
								<strong>[[${error}]]</strong>
					</div>
					<table class="table table-striped table-inverse">
						<thead class="thead-inverse">
							<tr>
								<th style="text-align:left;">
									<a data-toggle="tooltip" title="Sắp xếp" th:href="@{'/teacher/vocabulary/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir} +'&searchName='+${searchName}}" style="text-decoration: none;">
										Chủ đề
									</a>
								</th>
								<th>Ảnh</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${vocabularies.isEmpty}"> 
								<td colspan="4"> Chưa có thông tin</td>
							</tr>
							
							<tr th:each=" item : ${vocabularies}">
								<td th:text="${item.name}" style="text-align:left;"></td>
								
								<td >
								<img th:src="@{${item.image}}" style="width:30px;height:30px;">
								</td>
								

								<td>
								<a data-toggle="tooltip" title="Nội dung bài từ vựng" th:href="@{'/teacher/vocabulary/info-id='+${item.vocabId}+'/page/1'}" class="btn btn-outline-info"> <i class="fas fa-info"></i> </a>
								
								<a data-toggle="tooltip" title="Sửa bài từ vựng" th:href="@{'/teacher/vocabulary/edit-id='+${item.vocabId}}" class="btn btn-outline-success"> <i class="fas fa-edit"></i> </a>
								
								<!-- <a th:href="@{'/teacher/vocabulary/delete-id='+${item.vocabId}}" class="btn btn-outline-danger"> <i class="fas fa-trash"></i> </a> -->
								<a  
									class="btn btn-outline-danger"
								 	th:data-id=${item.vocabId}
									th:data-name=${item.name}
									onclick="showConfirmModalDelete(this.getAttribute('data-id'), this.getAttribute('data-name'))"
									title="Xóa bài từ vựng"
									data-toggle="tooltip"
								 ><i class="fas fa-trash"> </i>  </a>
								 
								</td>
								
							</tr>
						</tbody>
					</table>

				</div>
				
				
				
				<div class="card-footer text-muted" th:if="${totalPages > 1}">
					 	<!-- item start of end of current page -->
						
					 	<span class="text-center" th:if="${currentPage==1}">Hiển thị hàng 1 - [[${itemStart}]] trong tổng [[${totalItems}]] hàng. </span>
						<span class="text-center" th:if="${currentPage>1 && currentPage<totalPages}">Hiển thị hàng [[${itemStart-4}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage==totalPages}">Hiển thị hàng [[${itemStart-4}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
					 
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                            
                            <!--  Trang đầu tiên -->
							<li class="page-item ml-3"><a class="page-link"
								aria-label="Previous"
								th:if="${currentPage <= totalPages && currentPage>1}"
								th:href="@{'/teacher/vocabulary/page/' + 1+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchName='+${searchName}}">
									<span aria-hidden="true">Trang đầu</span> <span class="sr-only"
									th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
							</a></li>

                                <li class="page-item " >
                                    
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/teacher/vocabulary/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchName='+${searchName}}" 
                                    >
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>

                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/teacher/vocabulary/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchName='+${searchName}}">[[${i}]]</a></li>
                               
                               
                               
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/teacher/vocabulary/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchName='+${searchName}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                                
                                
                                   <!--  đến trang cuối cùng -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/teacher/vocabulary/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  +'&searchName='+${searchName}} ">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>



			</div>
 
	 </div> 

<!-- Modal -->
				<div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Xác nhận</h5>
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				            <span aria-hidden="true">&times;</span>
				          </button>
				      </div>
				      <div class="modal-body">
				        Bạn chắc chắn xóa bài từ vựng này?
				      </div>
				      <div class="modal-footer">
				        <a id="yesOption" type="button" class="btn btn-danger">Xóa</a>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
				
	
	</section>
</body>
</html>

<script>	
	  function showConfirmModalDelete(id,name){
		    $('#name').text(name);
		    $('#yesOption').attr('href','/webtoeic/teacher/vocabulary/delete-id='+id);
			$('#confirmationId').modal('show');
		  }
	  $(document).ready(function(){
		  $('[data-toggle="tooltip"]').tooltip();
		});
</script>