<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/teacher/dashboardLayout.html}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
        <section class="row" layout:fragment="content"> 
        
	          <div class="col-12 mt-3" style="display: flex; justify-content: flex-end;">
		        <button class="btn btn-warning" >
						<a th:href="@{'/teacher/vocabulary/info-id='+${idVocab}+'/page/1'}" style="color: white; text-decoration: none;"> 
							<strong>Quay lại</strong>
						</a>
				</button>
	         </div>
        	<div class="col-12 mt-3">
		    <form  th:action="@{/teacher/vocabulary/save-new-vocabulary}" method="post" th:object="${vocab}" enctype="multipart/form-data">
             <div class="card mt-3">
                 <div class="card-header">
                   <h2 style="text-align:center" th:unless="${vocab.isEdit}">Thêm từ vựng </h2>
                   <h2 style="text-align:center" th:if="${vocab.isEdit}">Chỉnh sửa từ vựng</h2>
                 </div>
                 
                 
                 <div class="card-body">
                 	<div th:if="${error!=null}" class="alert alert-danger" role="alert"> <strong>[[${error}]]</strong>   </div>
                 	
                   <div class="form-group">
                  	  <input type="hidden" th:field="*{cVocabId}" id="listenId" class="form-control" placeholder="Listening Id" aria-describedby="ListenIdHelpId"  readonly="False" >
                    </div>

                	<div class="form-group">
                		<label for="vocabId"> Tên từ vựng(<strong style="color:red;">*</strong>):</label>
                     	<input type="text" th:field="*{vocab}" id="vocabId" class="form-control" placeholder="Từ vựng" >
                     	<small th:if="${#fields.hasErrors('vocab')}" id="vocabId"  style="color:red;">Trường từ vựng không được bỏ trống!</small>
                    </div>
                    
                    
                    
                    <div class="form-group">
	                    <label for="spellingId"> Phiên âm(<strong style="color:red;">*</strong>):</label>
	                    <input type="text" th:field="*{spelling}" id="spellingId" class="form-control" placeholder="Phiên âm" >
	                    <small th:if="${#fields.hasErrors('spelling')}" id="spellingId"  style="color:red;">Trường phiên âm không được bỏ trống!</small>
                    </div>
                    
                    
                 	<div class="form-group">
                         <label for="file_listen" >File audio:</label>
                        	<input type="hidden"   th:field="*{audio}"/>
                         <input type="file" class="form-control" id="file_listen" name="file_listen"   accept=".mp3,.org">
                    </div>               
                    
                    <script>
							function chooseFile(fileInput) {
								if (fileInput.files && fileInput.files[0]) {
									var reader = new FileReader();
									reader.onload = function(e) {
										$('#image').attr('src', e.target.result);
									}
									reader.readAsDataURL(fileInput.files[0]);

								}
							}
						</script>
						
						<div class="form-group">
							<label for="imageVocab">File ảnh:</label> 
							<input type="hidden"  th:field="*{images}"/>
							<input type="file" class="form-control" id="file_imageVocab" name="file_imageQuestion" onchange="chooseFile(this)" accept=".png,.jpg" /> 
							<img id="image" th:src="@{/image/anhbainghe.png}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">
						</div>

						<div class="form-group">
							<label for="meanId">Nghĩa từ vựng(<strong style="color:red;">*</strong>):</label>
							<input type="text" th:field="*{mean}" id="meanId" class="form-control" placeholder="Nghĩa từ vựng">
							<small th:if="${#fields.hasErrors('mean')}" id="meanId"  style="color:red;">Trường phiên âm không được bỏ trống!</small>
						</div>
						
						<div class="form-group">
							<label for="sentenceId">Câu ví dụ(<strong style="color:red;">*</strong>):</label>
							<input type="text" th:field="*{sentence}" id="sentenceId" class="form-control" placeholder="Câu ví dụ">
							<small th:if="${#fields.hasErrors('mean')}" id="sentenceId"  style="color:red;">Trường ví dụ không được bỏ trống!</small>
						</div>

						<div class="form-group" >
                    
                      <input type="hidden" th:value="${idVocab}" name="idVocab" id="listenId" class="form-control" placeholder="Listening Id" aria-describedby="ListenIdHelpId" readonly="False" >
                      
                    </div>

                 </div>
                 
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
		                  <span th:unless="${vocab.isEdit}"> Lưu</span>    
		                  <span th:if="${vocab.isEdit}"> Cập nhật</span>          
                     </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
             </div>

            </form>
		    </div>
		   
        </section>
        
        
        <script src="../js/validator.js"></script>

	    <script type="text/javascript">
	    activemenu();
	    </script>
</body>
</html>