<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/teacher/dashboardLayout.html}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
        <section class="row" layout:fragment="content"> 
         <div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end;">
	        <button class="btn btn-warning" >
					<a th:href="@{/teacher/vocabulary}" style="color: white; text-decoration: none;"> 
						<strong>Quay lại</strong>
					</a>
			</button>
        </div>
        <div class="col-md-12 mt-3">
          <form  th:action="@{/teacher/vocabulary/save}" method="post" th:object="${vocab}" enctype="multipart/form-data">
             <div class="card">
                 <div class="card-header text-center">
                    <h1>Thêm mới bài từ vựng</h1>
                 </div>
                 <div class="card-body">
                	 <div th:if="${error!=null}" class="alert alert-danger" role="alert"> <strong>[[${error}]]</strong></div>
                 
                    <div class="form-group">
                      <input type="hidden" th:field="*{vocabId}" id="listenId" class="form-control" placeholder="vocabulary Id" aria-describedby="ListenIdHelpId" >
                    </div>
                     
                    <div class="form-group">
                      <label for="nameVocabId">Tên bài từ vựng</label>
                      <input type="text" class="form-control" th:field="*{name}" id="nameVocabId" aria-describedby="nameVocabId" placeholder="Tên bài từ vựng">
                      <small th:if="${#fields.hasErrors('name')}" id="nameVocabId"  style="color:red;">Tên bài từ vựng không được bỏ trống!</small>
                    </div>

						<script>
							function chooseFile(fileInput) {
								if (fileInput.files && fileInput.files[0]) {
									var reader = new FileReader();
									reader.onload = function(e) {
										$('#image').attr('src', e.target.result);
									}
									reader.readAsDataURL(fileInput.files[0]);

								}
							}
						</script>
						
						<div class="form-group">
							<label for="imageVocab">File ảnh bài từ vựng:</label> 
							<input type="file" class="form-control" id="file_imageVocab" name="file_imageQuestion" onchange="chooseFile(this)" accept=".png,.jpg" /> 
							<img id="image" th:src="@{/image/tuvung.png}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">
						</div>
						


            
                      <div class="form-group">
                          <label for="fileExcel" >File nội dung  <a th:href="@{../../resources/file/mau/mau_bai_tu_vung.xlsx}">(Tải file mẫu)</a> </label>
                          <input type="file" class="form-control" id="file_Excel" name="file_Excel" accept=".xlsx,.xls" >
                      </div> 

                 </div>
                 
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
                      	<span> Lưu</span> 
		             </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
             </div> 
     

            </form>
		</div>
       </section>

	
 
</body>
</html>