<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/teacher/dashboardLayout.html}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
        <section class="row" layout:fragment="content"> 
         <div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end;">
	        <button class="btn btn-warning" >
					<a th:href="@{/teacher/vocabulary}" style="color: white; text-decoration: none;"> 
						<strong>Quay lại</strong>
					</a>
			</button>
         </div>
         
        <div class="col-md-12 mt-3">
          <form  th:action="@{/teacher/vocabulary/update}" method="post" th:object="${vocab}" enctype="multipart/form-data">
             <div class="card">
                 <div class="card-header text-center">
                    <h2>Sửa bài từ vựng (ID: [[${id}]])</h2>
                 </div>
                 <div class="card-body">
                    <div class="">                    	
                      <input type="hidden" th:field="*{vocabId}" id="listenId" class="form-control" placeholder="vocabulary Id" aria-describedby="ListenIdHelpId" >
                    </div>
                      <label  th:if="${message != null}"  th:text="${message}" style="color:red;"></label>
                    <div class="form-group">
                    <label for="">Tên bài từ vựng </label>
                      <input type="text" class="form-control" th:field="*{name}" id="name" aria-describedby="nameHelpId" placeholder="Tên bài từ vựng">
                    </div>


                    
						<script>
							function chooseFile(fileInput) {
								if (fileInput.files && fileInput.files[0]) {
									var reader = new FileReader();
									reader.onload = function(e) {
										$('#image').attr('src', e.target.result);
									}
									reader.readAsDataURL(fileInput.files[0]);

								}
							}
						</script>
						
						<div class="form-group">
							<label for="imageVocab">File ảnh bài từ vựng:</label> 
							<input type="hidden" th:field="*{image}" />
							<input type="file" class="form-control" id="file_imageVocab" name="file_imageQuestion" onchange="chooseFile(this)" accept=".png,.jpg" /> 
							<img id="image" th:src="@{*{image}}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">
						</div>
                 </div>
                 
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
		                  <span> Cập nhật</span>      
                     </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
             </div> 
            </form>
		</div>
        </section>
    
     
</body>
</html>
