<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/dashboardLayout.html}">
<head>
	<meta charset="UTF-8">
	<style>
			table {
			  border-collapse: collapse;
			  border-spacing: 0;
			  width: 100%;
			  border: 1px solid #ddd;
			}
			
			th, td {
			  text-align: left;
			  padding: 8px;
			  min-width: 150px;
			  
			}
		</style>
</head>
<body>
	<section class="row" layout:fragment="content" >
	<div class="col-12 mt-3" style="display: flex; justify-content: space-between;">
			<form th:action="@{/admin/comment/page/1}" class="d-flex" >
				 <input type="hidden"  name="sortField" th:value="${sortField}"/>
				 <input type="hidden"  name="sortDir" th:value="${sortDir}"/>
				 
				   <select class="form-control mr-2" name="searchDisplay" data-toggle="tooltip" title="Hiển thị">
			        	 <option value="0" th:selected="${searchDisplay==0}">Tất cả</option>
                         <option value="1" th:selected="${searchDisplay==1}">Đang hiển thị</option>
                         <option value="2" th:selected="${searchDisplay==2}">Đang bị ẩn</option> 
                    </select>
                    
                    <select class="form-control mr-2" name="searchNewComment" data-toggle="tooltip" title="Trạng thái">
			        	 <option value="0" th:selected="${searchNewComment==0}">Tất cả</option>
                         <option value="1" th:selected="${searchNewComment==1}">Chưa đọc</option>
                         <option value="2" th:selected="${searchNewComment==2}">Đã đọc</option>
                    </select> 
				 
				 
				 <input type="text" th:value="${searchName}" name="searchName" placeholder="Nhập tên bài viết" style="padding:5px;border:1px solid grey; border-radius:5px;"/>
			     <button class="btn btn-info ml-3" type="submit" data-toggle="tooltip" title="Tìm kiếm"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
    </div>     
	
			
            
                  
		<div class="col-12  mt-3" style="min-height: 600px;">
			<div class="card">
			
				<div class="card-header text-center">
					<h1>Danh sách bình luận</h1>
				</div>
				
				<div class="card-body">
				
						<div th:if="${message!=null}" class="alert alert-info text-center" role="alert">
							<strong>[[${message}]]</strong>
						</div>
						
						<div th:if="${error!=null}" class="alert alert-danger text-center" role="alert">
							<strong>[[${error}]]</strong>
						</div>
					<table class="table table-inverse">
						<thead class="thead-inverse">
							<tr>
							
								<th style="color:#0040FF;">Bài viết</th>
								<th style="color:#0040FF;">Nội dung bình luận</th>
								<th> 
									 <a th:href="@{'/admin/comment/page/' + 1+ '?sortField=display&sortDir=' + ${reverseSortDir} +'&searchDisplay='+${searchDisplay} +'&searchNewComment='+${searchNewComment}  +'&searchName='+${searchName}}" style="color:#0040FF;text-decoration: none;" data-toggle="tooltip" title="Sắp xếp">Hiển thị</a>
								</th>
								<th>
									 <a th:href="@{'/admin/comment/page/' + 1+ '?sortField=newComment&sortDir=' + ${reverseSortDir} +'&searchDisplay='+${searchDisplay} +'&searchNewComment='+${searchNewComment}  +'&searchName='+${searchName}}" style="color:#0040FF;text-decoration: none;" data-toggle="tooltip" title="Sắp xếp">Trạng thái</a>
								
								</th>
								<th>
									<a th:href="@{'/admin/comment/page/' + 1+ '?sortField=timeComment&sortDir=' + ${reverseSortDir} +'&searchDisplay='+${searchDisplay} +'&searchNewComment='+${searchNewComment}  +'&searchName='+${searchName}}" style="color:#0040FF;text-decoration: none;" data-toggle="tooltip" title="Sắp xếp">Thời gian</a>
								</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody>
						
							<tr th:each="item : ${list}">
								<td>
									<a th:href="@{'/grammar/'+ ${item.grammar.grammarId}}" th:text="${item.grammar.name}" target="none" data-toggle="tooltip" title="Xem bài viết" style="text-decoration: none;color:#0040FF;"></a>
								</td>
								
								<td th:text="${item.content}"></td>
								
								<td th:if="${item.display==1}">Hiển thị</td>
								<td th:if="${item.display ==2}">Bị ẩn</td>
								
								<td th:if="${item.newComment ==1}">Chưa đọc</td>							
								<td th:if="${item.newComment==2}">Đã đọc</td>
								
								
								<td th:text="${#dates.format(item.timeComment, 'dd-MM-yyyy hh:mm:ss')}"></td>
								
								
								
								<td>
									<a class="btn btn-outline-danger" 
										th:data-id=${item.cGramId}
										onclick="showConfirmModal(this.getAttribute('data-id'))"
										data-toggle="tooltip" title="Ẩn bình luận"  
									 	th:if="${item.display==1}">
									 <i class="fa fa-lock" aria-hidden="true"> </i> 
									 		
									 </a>
									
								 	 <a  class="btn btn-outline-info"
										th:data-ids=${item.cGramId}
										onclick="showConfirmModalComment(this.getAttribute('data-ids'))"
										title="Hiển thị bình luận" data-toggle="tooltip"
										th:if="${item.display!=1}"> 
										 <i class="fa fa-unlock-alt" aria-hidden="true"> </i>
									  </a>
									  
									  <a  class="btn btn-outline-info"
									   	th:href="@{'/admin/comment/watched='+${item.cGramId}}"
										title="Đánh dấu là đã xem" data-toggle="tooltip"
										th:if="${item.newComment==1}"> 
										 <i class="fa fa-eye" aria-hidden="true"> </i>
										 
									  </a>
									  
									  
									
								</td>
							</tr>

						</tbody>
					</table>
				</div>
				
				<div class="card-footer text-muted" th:if="${totalPages > 1}">
					 	<!-- item start of end of current page -->
						<div style="text-align:center;">
							<span th:if="${currentPage==1}">Hiển thị hàng 1 - [[${itemStart}]] trong tổng [[${totalItems}]] hàng. </span>
							<span th:if="${currentPage>1 && currentPage<totalPages}">Hiển thị hàng [[${itemStart-4}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
							<span th:if="${currentPage==totalPages}">Hiển thị hàng [[${itemStart-4}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
						</div>
					 	
					 
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                            
                            <!--  Trang đầu tiên -->
							<li class="page-item ml-3"><a class="page-link"
								aria-label="Previous"
								th:if="${currentPage <= totalPages && currentPage>1}"
								th:href="@{'/admin/comment/page/' + 1+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchDisplay='+${searchDisplay} +'&searchNewComment='+${searchNewComment}  +'&searchName='+${searchName}}">
									<span aria-hidden="true">Trang đầu</span> <span class="sr-only"
									th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
							</a></li>

                                <li class="page-item " >
                                    
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/admin/comment/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchDisplay='+${searchDisplay} +'&searchNewComment='+${searchNewComment}  +'&searchName='+${searchName}}" 
                                    >
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>

                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/admin/comment/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchDisplay='+${searchDisplay} +'&searchNewComment='+${searchNewComment}  +'&searchName='+${searchName}}">[[${i}]]</a></li>
                               
                               
                               
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/admin/comment/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchDisplay='+${searchDisplay} +'&searchNewComment='+${searchNewComment}  +'&searchName='+${searchName}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                                
                                
                                   <!--  đến trang cuối cùng -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/admin/comment/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&searchDisplay='+${searchDisplay} +'&searchNewComment='+${searchNewComment}  +'&searchName='+${searchName}} ">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
				
				<!-- Modal hidden comment -->
				<div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				    
				      <div class="modal-header">
				        <h5 class="modal-title ">Xác nhận</h5>
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				            <span aria-hidden="true">&times;</span>
				          </button>
				      </div>
				      
				      <div class="modal-body">
				        	Bạn chắc chắn ẩn bình luận chứ? 
				      </div>
				      <div class="modal-footer" >
				        <a id="yesOption" type="button" class="btn btn-danger">Chắc chắn</a>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
				
				<!-- Modal display comment -->
				<div class="modal fade" id="confirmationIdComment" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				    
				      <div class="modal-header" >
				        <h5 class="modal-title ">Xác nhận</h5>
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				            <span aria-hidden="true">&times;</span>
				          </button>
				      </div>
				      
				      <div class="modal-body">
				        	Bạn chắc chắn hiển thị bình luận chứ? 
				      </div>
				      <div class="modal-footer" >
				        <a id="yesOption" type="button" class="btn btn-danger">Chắc chắn</a>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>	
		
	
	
	
	</section>
</body>
</html>

<script>	

	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	
	  function showConfirmModal(cGramId){
		    $('#yesOption').attr('href','/webtoeic/admin/comment/block-id='+cGramId);
			$('#confirmationId').modal('show');
		  }
	  
	 function showConfirmModalComment(cGramId){
			$('#yesOption').attr('href','/webtoeic/admin/comment/unblock-id='+cGramId);
			$('#confirmationIdComment').modal('show');
		}
			
				
	</script>