<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
<link rel="icon"
	href="https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png"
	type="image/x-icon">
<link rel="stylesheet" type="text/css" href="./css/login.css">

</head>
<body>
	<div class="container mt-5" >
		<div class="d-flex justify-content-center ">
			<div class="card">
				<div class="card-header text-center">
					<h3>Đăng nhập</h3>

				</div>
				<div class="card-body ">
				<form th:action="@{/login}" method="post" id="form-login">
				<div th:if="${param.error}">
                    <div class="alert alert-danger">
                       Vui lòng kiểm tra lại tài khoản và mật khẩu.
                    </div>
                </div>
						<div class="form-group">
						 	<label for="username" class="lbl1">Tài khoản(<span style="color:red;">*</span>): </label>
							<input type="text" class="form-control" id="username" name="username" placeholder="Nhập tài khoản" required autofocus="autofocus" >
						    <span class="form-message"></span>
						</div>

						<div class="form-group">
							<label for="password" class="lbl1">Mật khẩu(<span style="color:red;">*</span>):</label>
							<input type="password" id="password" name="password" class="form-control" placeholder="Nhập mật khẩu" required />
							<span class="form-message"></span>
						</div>

						<div class="form-group">
							<div class="row justify-content-center">
								<div class="col-sm-6 col-sm-offset-3 mt-2">
									<input type="submit" name="login-submit" id="login-submit"
										class="form-control btn btn-primary" value="Đăng nhập" />
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<span  class="spanfooter">Bạn chưa có tài khoản?<a href="/" th:href="@{/registration}">Đăng kí tài khoản
							</a></span>
				</div>
			</div>
		</div>
	</div>
	
	<script src="./js/validator.js"></script>
	
    <script>
        //mong muốn của chúng ta sẽ dùng
        Validator(
            //Truyền vào là 1 object
            {
            form:'#form-login',
            errorSelector:".form-message",
            rules:[
                //gán thẻ id cho rule bắt buộc 
                Validator.isRequired('#username'),
                Validator.isPassword('#password')
            ]
        })

    </script>
	
	
</body>
</html>