<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register</title>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
<link rel="icon"
	href="https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png"
	type="image/x-icon">
<link rel="stylesheet" type="text/css" href="./css/login.css">
</head>
<body>
	<div class="container">
		<div class="d-flex justify-content-center ">
			<div class="card">
				<div class="card-header text-center">
					<h3>Đăng kí</h3>

				</div>
				
				<div class="card-body">
					<div th:if="${message!=null}" class="alert alert-info text-center" role="alert"> <strong>[[${message}]]</strong> </div>
					<form th:action="@{/registration}" method="post" th:object="${user}" id="form-register">

						<div class="form-group">
							<label for="username" class="lbl1">Nhập tên tài khoản(<span style="color:red;">*</span>): </label>
							<input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Nhập tên tài khoản" autofocus="autofocus">
							<span th:if="${error!=''}" th:text="${error}" style="color:red;"></span>
					
						</div>

						<div class="form-group">
							<label for="password" class="lbl1">Nhập mật khẩu(<span style="color:red;">*</span>): </label>
							<input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Nhập mật khẩu" />
							<span th:if="${#fields.hasErrors('password')}" style="color:red;"> Nhập ít nhất 5 kí tự</span>
							 <span class="form-message"></span>
						</div>
						<div class="form-group">
							<label for="fullName" class="lbl1">Nhập họ tên(<span style="color:red;">*</span>): </label>
							<input type="text" class="form-control" id="fullName" th:field="*{fullName}" placeholder="Nhập họ tên">
							 <small th:if="${#fields.hasErrors('fullName')}" id="fullNameIdHelpId"  style="color:red;">Trường họ & tên không được bỏ trống.</small>
							
						</div>				
						<div class="form-group">
							<label for="address" class="lbl1">Nhập địa chỉ:(<span style="color:red;">*</span>): </label>
							<input type="text" class="form-control" id="address" th:field="*{address}" placeholder="Nhập địa chỉ">
							<small th:if="${#fields.hasErrors('address')}" id="addressIdHelpId"  style="color:red;">Trường địa chỉ không được bỏ trống.</small>
							
						</div>
						<div class="form-group">
							<label for="phoneNumber" class="lbl1">Nhập số điện thoại:(<span style="color:red;">*</span>): </label>
							<input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Nhập số điện thoại">
							<small th:if="${#fields.hasErrors('phoneNumber')}" id="phoneNumberIdHelpId"  style="color:red;">Trường số điện thoại không được bỏ trống.</small>
							
						</div>

						<div class="form-group">
							<div class="row justify-content-center">
								<div class="col-sm-6 col-sm-offset-3 mt-2">
									<input type="submit" name="login-submit" id="login-submit"
										class="form-control btn btn-primary" value="Đăng kí" />
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<span class="spanfooter">Đã có tài khoản? <a href="/"
						th:href="@{/login}">Đăng nhập</a></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

	