<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/user/dashboardLayout.html}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/content.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<style>
		.row{
			padding:0;
			margin:0;
		}
	</style>
</head>
<body>

	<section class="row" layout:fragment="content" style="margin: 0;padding: 0;">
	
		<div class=" col-12 mt-3" style="margin: 0;padding: 0;">
			<button class="btn btn-warning ml-5">
				<a th:href="@{/grammar}" style="color:white;"><strong>Quay lại</strong></a>
			</button>
		</div>
		
		<div class="row">
			<div class="offset-2 col-8 offset-2 mt-3">
				<h1 class="w2" style="margin:10px; text-align:center;">[[${detail.name}]]</h1>
				 [(${detail.content})]
			</div>
		</div>
		
		
		 <div class="row mb-3" style="width:100%;">
			<div class="offset-2 col-8 offset-2 ">
				<h5 style="color:blue;margin: 0;" th:if="${count!=0}"> [[${count}]] Bình luận:</h5>
				<form th:action="@{/grammar/comment}" method="post" style="display: flex;align-items: center;" th:object="${comments}"  sec:authorize="isAuthenticated()">
				
					<textarea id="w3review" th:field="*{content}" rows="4" cols="50" style="resize: none;">
		
					</textarea>
					
					<input type="submit" class="btn btn-info" value="Bình luận" style="margin-left:10px;">
				</form>
			</div>
		</div> 
		
		
		<div class="row mb-3 mt-3" style="width:100%;">
		
			<div class="offset-2 col-8" th:each="item: ${listComment}">
				
				<h3 style="margin:0;color:#000;" th:text="${item.users.username}"></h3>
				<span style="font-size: 13px;font-weight: 400;color: #ccc;" th:text="${#dates.format(item.timeComment, 'dd-MM-yyyy hh:mm:ss')}"></span>
				<p th:text="${item.content}"></p>
				
			</div>
			
		</div>
		
		
		<button onclick="topFunction()" id="myBtn" title="Go to top" style="padding: 8px;"><i class="fas fa-arrow-circle-up"></i></button>
	
	
	</section>
	
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
</body>
</html>

<script>



function removeTextAreaWhiteSpace() {
	var myTxtArea = document.getElementById("w3review");
	myTxtArea.value = myTxtArea.value.replace(/^\s*|\s*$/g,"");
	}

$( document ).ready(function() {
	removeTextAreaWhiteSpace();
});	


var mybutton = document.getElementById("myBtn");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}


function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>