<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/teacher/dashboardLayout.html}">
<head>
	<meta charset="UTF-8">
	 <style type="text/css">
        body {
            background: #eee;
            font-family: 'Raleway', sans-serif;
           
        }

        .main-part {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            padding: 0px 5px;
        }

        .cpanel {
            width: 32%;
            display: inline-block;
            background-color: #34495E;
            color: #fff;
            margin-top: 50px;
        }

        .icon-part i {
            font-size: 30px;
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 50%;
            margin-top: -25px;
            margin-bottom: 10px;
            background-color: #34495E;
        }

        .icon-part p {
            margin: 0px;
            font-size: 20px;
            padding-bottom: 10px;
        }

        .card-content-part {
            background-color: #2F4254;
            padding: 5px 0px;
        }

        .cpanel .card-content-part:hover {
            background-color: #5a5a5a;
            cursor: pointer;
        }

        .card-content-part a {
            color: #fff;
            text-decoration: none;
        }

        .cpanel-green .icon-part,
        .cpanel-green .icon-part i {
            background-color: #16A085;
        }

        .cpanel-green .card-content-part {
            background-color: #149077;
        }

        .cpanel-orange .icon-part,
        .cpanel-orange .icon-part i {
            background-color: #F39C12;
        }

        .cpanel-orange .card-content-part {
            background-color: #DA8C10;
        }

        .cpanel-blue .icon-part,
        .cpanel-blue .icon-part i {
            background-color: #2980B9;
        }

        .cpanel-blue .card-content-part {
            background-color: #2573A6;
        }

        .cpanel-red .icon-part,
        .cpanel-red .icon-part i {
            background-color: #E74C3C;
        }

        .cpanel-red .card-content-part {
            background-color: #CF4436;
        }

        .cpanel-skyblue .icon-part,
        .cpanel-skyblue .icon-part i {
            background-color: #8E44AD;
        }

        .cpanel-skyblue .card-content-part {
            background-color: #803D9B;
        }
        
    </style>
</head>
<body>
	<section class="row text-center" layout:fragment="content">
		<div class="col-12 mt-3" style="min-height: 550px;">
			
			<div class="main-part">
				<div class="cpanel">
					<div class="icon-part">
						<i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i><br> <small>Bài ngữ pháp</small>
						<p>[[${countGramamr}]]</p>
					</div>
					<div class="card-content-part">
						<a th:href="@{/teacher/grammar/}">Xem chi tiết</a>
					</div>
				</div>
				<div class="cpanel cpanel-green">
					<div class="icon-part">
						<i class="fa fa-sticky-note" aria-hidden="true"></i><br> <small>Bài từ vựng</small>
						<p>[[${countVocabulary}]]</p>
					</div>
					<div class="card-content-part">
						<a th:href="@{/teacher/vocabulary}">Xem chi tiết </a>
					</div>
				</div>
				<div class="cpanel cpanel-orange">
					<div class="icon-part">
						<i class="fa fa-headphones" aria-hidden="true"></i><br> <small>Đề nghe</small>
						<p>[[${countListen}]]</p>
					</div>
					<div class="card-content-part">
						<a th:href="@{/teacher/listen}">Xem chi tiết </a>
					</div>
				</div>
				<div class="cpanel cpanel-blue">
					<div class="icon-part">
						<i class="fa fa-book" aria-hidden="true"></i><br> <small>Đề đọc</small>
						<p>[[${countReading}]]</p>
					</div>
					<div class="card-content-part">
						<a th:href="@{/teacher/reading}">Xem chi tiết </a>
					</div>
				</div>
				<div class="cpanel cpanel-red">
					<div class="icon-part">
						<i class="fa fa-list" aria-hidden="true"></i><br> <small>Đề thi</small>
						<p>[[${countTestExam}]]</p>
					</div>
					<div class="card-content-part">
						<a th:href="@{/teacher/test-exam}">Xem chi tiết</a>
					</div>
				</div>
				<div class="cpanel cpanel-skyblue">
					<div class="icon-part">
						<i class="fa fa-history" aria-hidden="true"></i><br> <small>Số lượt thi trong tuần</small>
						<p>[[${countTestResult}]]</p>
					</div>
					<div class="card-content-part">
						<a th:href="@{/teacher/history}">Xem chi tiết </a>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>