<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/user/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="../css/content.css" />
	<link rel="stylesheet" href="../css/style.css" />
</head>
<body>

	<section class="row" layout:fragment="content">

		<div class="col-12 text-center mt-3">
			<h1 class="w2">Chủ đề: [[${detail.name}]] </h1>
		</div>
		<div class="offset-1 col-11">
			<button class="btn btn-warning">
				<a th:href="@{/vocabulary}" style="color:white;">Quay lại</a>
			</button>
		</div>
		<div class="container mt-3">
			<div class="media mt-5" th:each="item ,i: ${vocab}">
				<img th:src="@{${item.images}}" class="align-self-center mr-3" style="width: 170px;height:170px;" >
				<div class="media-body">
					<h5><strong style="color:#0033CC;">[[${item.vocab}]]&nbsp;</strong> <strong style="color:red;">[[${item.spelling}]]</strong>  </h5>
					<p>Nghĩa từ vựng: [[${item.mean}]]</p>
					
					<p>Ví dụ: [[${item.sentence}]]</p>
					<audio controls>
						<source th:src="'/webtoeic'+${item.audio}" type="audio/mpeg">
					</audio>
				</div>
			</div>
		</div>
		
		
		
	</section>	
</body>
</html>

