<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/user/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./css/style.css" />

</head>
<body>

	<section class="container" layout:fragment="content"  style="margin: 0;max-width: unset;width: 100%;padding: 0;">
					
		<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:auto;">
		    <!-- Indicators -->
		    <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>
		
		    <!-- Wrapper for slides -->
		    <div class="carousel-inner">
		      <div class="item active">
		        <img th:src="@{/image/slide2.png}" alt="Los Angeles" style="width:100%;">
		      </div>
		
		      <div class="item">
		        <img th:src="@{/image/slide1.jpg}" alt="Chicago" style="width:100%;">
		      </div>
		    
		      <div class="item">
		        <img th:src="@{/image/slide3.jpg}" alt="New york" style="width:100%;">
		      </div>
		    </div>
		
		 </div>
		<!-- <hr class="style-six"> -->
		<div class="row text-center" style="padding:0;margin:0;">
				<div class="col-12 cnt-title text-center">
					<h1>Cung cấp các giao diện học và thi thân thiện.</h1>
					<span>--- Học thử, Làm bài tập, Thi thử ---</span> <br />
				</div>
	
			<div class="col-4">
				<img th:src="@{/image/hometuvung.png}" style="height:200px;width:270px;border-radius:5px ">
				<h2>Học từ vựng, ngữ pháp</h2>
				<p>Các bài hướng dẫn đơn giản, dễ hiểu.</p>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
				    Chi tiết
				 </button>

			</div>

			<div class="col-4 ">
				<img th:src="@{/image/homenghedoc.jpg}" style="height:200px;width:270px;border-radius:5px ">
				<h2>Bài tập phần nghe, đọc</h2>
				<p>Sử dụng các dạng bài tập thường xuyên xuất hiện.</p>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
				    Chi tiết
				 </button>
			</div>

			<div class="col-4">
				<img th:src="@{/image/homedethi.jpg}" style="height:200px;width:270px;border-radius:5px ">
				<h2>Đề thi thử</h2>
				<p>Cập nhật, đổi mới liên tục, sát với đề thi thật nhất.</p>
				<button type="button" class="btn btn-primary">
				    <a th:href="@{/user/test-exam}" style="color:white;">Chi tiết</a>
				 </button>
			</div>
			
		</div>
		
		<hr class="style-six">
		<div class="row text-center" style="padding:0;margin:0; height: 300px;">
			<div class="col-6">
				<img th:src="@{/image/Trust-Banner.jpg}" style="height:200px;width:70%;border-radius:5px ">
			</div>
			<div class="col-5 mr-2">
			 	<h1 align="center">Tin cậy - uy tín</h1>
				<p align="justify">Mỗi năm, có hàng nghìn lượt học viên đã tham
					dự các khóa học tiếng Anh tại CFL và đạt kết quả như ý muốn. Chúng
					tôi tự hào là một trong những trung tâm ngoại ngữ được yêu thích,
					là địa chỉ tin cậy của các bạn SV Bách Khoa, Kinh tế, Kiến trúc,
					... và nhiều người đi làm trên địa bàn Đà Nẵng.</p>
			</div>
		</div>
		
		 <div class="modal" id="myModal">
			    <div class="modal-dialog">
				      <div class="modal-content">
				      
				        <div class="modal-header" style="border-bottom: none;">
				          <h4 class="modal-title">Danh sách bài hướng dẫn</h4>
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        
				        <!-- Modal body -->
				        <div class="modal-body">
				        	<div> 
				        		<img th:src="@{/image/iconlistening.png}" alt="iconListen" height="35px"/>
				        		<a th:href="@{/vocabulary}" style="font-size: 30px;margin-left: 15px">Bài hướng dẫn từ vựng</a>
				        	</div>
				        	
				        	<div> 
				        		<img th:src="@{/image/booksicon.png}" alt="iconRead" height="35px"/>
				        		<a th:href="@{/grammar}" style="font-size: 30px;margin-left: 15px">Bài hướng dẫn ngữ pháp</a>
				        	</div>
				        	
				        </div>
				        
				        <!-- Modal footer -->
				        <div class="modal-footer" style="border-top: none;">
				          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
				        </div>
				        
				      </div>
		    	</div>
		  </div>

 		<div class="modal" id="myModal1">
			    <div class="modal-dialog">
				      <div class="modal-content">
				      
				        <div class="modal-header" style="border-bottom: none;">
				          <h4 class="modal-title">Danh sách bài hướng dẫn</h4>
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        
				        <!-- Modal body -->
				        <div class="modal-body">
				        	<div> 
				        		<img th:src="@{/image/iconlistening.png}" alt="iconListen" height="35px"/>
				        		<a th:href="@{/user/listen}" style="font-size: 30px;margin-left: 15px">Bài tập phần nghe</a>
				        	</div>
				        	
				        	<div> 
				        		<img th:src="@{/image/booksicon.png}" alt="iconRead" height="35px"/>
				        		<a th:href="@{/user/reading}" style="font-size: 30px;margin-left: 15px">Bài tập phần đọc</a>
				        	</div>
				        	
				        </div>
				        
				        <!-- Modal footer -->
				        <div class="modal-footer" style="border-top: none;">
				          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
				        </div>
				        
				      </div>
		    	</div>
		  </div>
	</section>
</body>
</html>