<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/teacher/dashboardLayout.html}">
<head>
	<meta charset="UTF-8">
	<style>
			table {
			  border-collapse: collapse;
			  border-spacing: 0;
			  width: 100%;
			  border: 1px solid #ddd;
			}
			
			th, td {
			  text-align: left;
			  padding: 8px;
			  min-width: 150px;
			  
			}
		</style>
</head>
<body>
	<section class="row text-center" layout:fragment="content">
		
		<div class="col-12 mt-3" style="display: flex; justify-content: space-between;">
			<form th:action="@{/teacher/listen/page/1}" class="d-flex" >
				 <input type="hidden"  name="sortField" th:value="${sortField}"/>
				 <input type="hidden"  name="sortDir" th:value="${sortDir}"/>
				 
			        <select class="form-control mr-2" name="searchPart" data-toggle="tooltip" title="Phần thi">
			        	 <option value="0" th:selected="${searchPart==0}">Tất cả</option>
                         <option value="1" th:selected="${searchPart==1}">Phần 1 - Hình ảnh</option>
                         <option value="2" th:selected="${searchPart==2}">Phần 2 - Trả lời câu hỏi </option>
                         <option value="3" th:selected="${searchPart==3}">Phần 3 - Hội thoại ngắn</option>
                         <option value="4" th:selected="${searchPart==4}">Phần 4 - Đối thoại ngắn</option>    
                    </select>
                    
                    <select class="form-control mr-2" name="searchLevel" data-toggle="tooltip" title="Độ khó">
			        	 <option value="0" th:selected="${searchLevel==0}">Tất cả</option>
                         <option value="1" th:selected="${searchLevel==1}">Dễ</option>
                         <option value="2" th:selected="${searchLevel==2}">Vừa</option>
                         <option value="3" th:selected="${searchLevel==3}">Khó</option>
                    </select> 
                    
			        <button class="btn btn-info" type="submit"  style="white-space: nowrap;" data-toggle="tooltip"  title="Tìm kiếm"> <i class="fa fa-search" aria-hidden="true"></i> </button>
			</form>
			    
			<button class="btn btn-success " data-toggle="tooltip" title="Thêm mới bài nghe">
				<a th:href=" @{/teacher/listen/add-listening}" style="color:white;text-decoration: none;"> 
					<span> <i class="fa fa-plus-circle"> Thêm</i> </span> 
				</a>
			</button>
       </div>     
	
		<div class="col-12  mt-3" style="min-height: 600px;">
			<div class="card">
					
				<div class="card-header text-center">
					<h2>Danh sách bài nghe</h2>
				</div>
				
				
				<div class="card-body">
					<div th:if="${message!=null}" class="alert alert-info"
							role="alert">
							<strong>[[${message}]]</strong>
					</div>
					<div th:if="${error!=null}" class="alert alert-danger"
							role="alert">
							<strong>[[${error}]]</strong>
					</div>
					<table class="table table-striped table-inverse">
						<thead class="thead-inverse">
							<tr>
								<th><a data-toggle="tooltip"  title="Sắp xếp" th:href="@{'/teacher/listen/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}+ '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}" style="text-decoration: none;">
											Tên bài nghe</a></th>
								
								<th><a data-toggle="tooltip"  title="Sắp xếp" th:href="@{'/teacher/listen/page/' + ${currentPage} + '?sortField=part&sortDir=' + ${reverseSortDir}+ '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}" style="text-decoration: none;">
											Phần thi</a></th>
								<th><a data-toggle="tooltip"  title="Sắp xếp" th:href="@{'/teacher/listen/page/' + ${currentPage} + '?sortField=level&sortDir=' + ${reverseSortDir} + '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}" style="text-decoration: none;">
											Độ khó</a></th>
											
								<th>Ảnh</th>
								<th>Hành động</th>
							</tr>
						</thead>
						
						<tbody>
							
							<tr th:if="${listListening.isEmpty()}">
								<td colspan="6" style="text-align:center;"> Chưa có thông tin</td>
							</tr>
							
							<tr th:each=" item: ${listListening}">
							
								<td th:text="${item.name}"></td>
								

								
								<!-- part -->
								<td th:if="${item.part==1}">Phần 1 - Hình ảnh</td>
								<td th:if="${item.part==2}">Phần 2 - Trả lời câu hỏi</td>
								<td th:if="${item.part==3}" >Phần 3 - Hội thoại ngắn</td>
								<td th:if="${item.part==4}">Phần 4 - Đối thoại ngắn</td>
								
								
								<!-- level --> 
								<td th:if="${item.level==1}" th:text="Dễ"></td>
								<td th:if="${item.level==2}" th:text="Vừa"></td>
								<td th:if="${item.level==3}" th:text="Khó"></td>
								
								<td >
								<img th:src="@{${item.image}}" style="width:30px;height:30px;">
								
								</td>
								
								<!-- action -->
								<td>
								<a th:href="@{'/teacher/listen/info-id='+${item.listenId}+'/page/1'}" class="btn btn-outline-info" title="Nội dung bài nghe"> <i class="fas fa-info"></i> </a>
								<a th:href="@{'/teacher/listen/edit-id='+${item.listenId}}" class="btn btn-outline-success" title="Chỉnh sửa bài nghe"> <i class="fas fa-edit"></i> </a>
								<!-- <a th:href="@{'/teacher/listen/delete-id='+${item.listenId}}" class="btn btn-outline-danger"> <i class="fas fa-trash"></i> </a> -->
								
									<a  
										class="btn btn-outline-danger"
									 	th:data-id=${item.listenId}
										th:data-name=${item.name}
										onclick="showConfirmModalDelete(this.getAttribute('data-id'), this.getAttribute('data-name'))"
										title="Xóa bài nghe">
										<i class="fas fa-trash"> </i> 
									 </a>
								</td>
								
							</tr>
						</tbody>
					</table>

				</div>
				
				
				
				
				<!-- pageable -->
				
					<div class="card-footer text-muted" th:if="${totalPages > 1}">
						<!-- item start of end of current page -->
						
					 	<span class="text-center" th:if="${currentPage==1}">Hiển thị hàng 1 - [[${itemStart}]] trong tổng [[${totalItems}]] hàng. </span>
						<span class="text-center" th:if="${currentPage>1 && currentPage<totalPages}"> Hiển thị hàng [[${itemStart-4}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage==totalPages}">Hiển thị hàng [[${itemStart-4}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
						<!-- Page current: <input type="text" th:value="${currentPage}" style="width:30px; text-align: center; margin-bottom:6px;"/> -->
                        
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
					
				 			<!--  Trang đầu tiên -->
							<li class="page-item ml-3"><a class="page-link"
								aria-label="Previous"
								th:if="${currentPage <= totalPages && currentPage>1}"
								th:href="@{'/teacher/listen/page/' + 1+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}">
									<span aria-hidden="true">Trang đầu</span> <span class="sr-only"
									th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
							</a></li>
							
							<!--  về trang trước trang hiện tại -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/teacher/listen/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>

                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/teacher/listen/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}+ '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}">[[${i}]]</a></li>
                               
                               
                                <!--  đến trang sau trang hiện tại -->
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/teacher/listen/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                                
                                <!--  đến trang cuối cùng -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/teacher/listen/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel} } ">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>



			</div>

		</div>
	
				<!-- Modal -->
				<div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				    
				      <div class="modal-header">
				        <h5 class="modal-title ">Xác nhận</h5>
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				            <span aria-hidden="true">&times;</span>
				          </button>
				      </div>
				      
				      <div class="modal-body">
				        	Bạn chắc chắn xóa bài nghe  không? 
				      </div>
				      <div class="modal-footer">
				        <a id="yesOption" type="button" class="btn btn-danger">Xóa</a>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				        
				      </div>
				    </div>
				  </div>
				</div>


	</section>
</body>
</html>

				
	<script>	
	  function showConfirmModalDelete(id,name){
		    $('#name').text(name);
		    $('#yesOption').attr('href','/webtoeic/teacher/listen/delete-id='+id);
			$('#confirmationId').modal('show');
		  }
	  
	  $(document).ready(function(){
		  $('[data-toggle="tooltip"]').tooltip();
		});

	</script>

