<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/teacher/dashboardLayout.html}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
        <section class="row" layout:fragment="content"> 
        <div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end;">
	        <button class="btn btn-warning" >
					<a th:href="@{/teacher/listen/}" style="color: white; text-decoration: none;"> 
						<strong>Quay lại</strong>
					</a>
			</button>
        </div>
	        
         <div class="col-md-12">
			<form th:action="@{/teacher/listen/listen-save}" method="post" th:object="${listen}" enctype="multipart/form-data" id="form-save-listen">
             <div class="card mt-3">
                 <div class="card-header text-center"  >
                    <h1>Thêm mới bài nghe</h1>
                 </div>
                 
                 <div class="card-body">
                 
					<div th:if="${error!=null}" class="alert alert-danger" role="alert"> <strong>[[${error}]]</strong></div>
					
                    <div class="form-group">
                      <input type="text" th:field="*{listenId}" id="listenId" class="form-control form-message" placeholder="Listening Id" aria-describedby="ListenIdHelpId" readonly="False" hidden>
                    </div>
                    
                    
                  
                    <div class="form-group">
                    	<label for="name">Tên bài nghe:</label>
                      	<input type="text" class="form-control" th:field="*{name}" id="name" aria-describedby="nameHelpId" placeholder="Tên bài nghe">                 
                    	<small th:if="${#fields.hasErrors('name')}" id="nameHelpId"  style="color:red;">Tên bài nghe không được bỏ trống</small>
                    </div>
                    
                    
                     <div class="form-group">
                        <label for="status">Phần:</label>
                        
                            <select class="form-control" th:field="*{part}" id="status">
                               <option value="1" th:selected="${searchPart==1}">Phần 1 - Hình ảnh</option>
		                       <option value="2" th:selected="${searchPart==2}">Phần 2 - Trả lời câu hỏi </option>
		                       <option value="3" th:selected="${searchPart==3}">Phần 3 - Hội thoại ngắn</option>
		                       <option value="4" th:selected="${searchPart==4}">Phần 4 - Đối thoại ngắn</option>  
                            </select>
                            
                     </div>
                     
                      <div class="form-group">
                        	<label for="status">Độ khó:</label>
                            <select class="form-control" th:field="*{level}" id="status">
                               <option value="1" selected>Dễ</option>
                               <option value="2" >Vừa</option>
                               <option value="3">Khó</option>
                            </select>
                     </div>

						<script>
							function chooseFile(fileInput) {
								if (fileInput.files && fileInput.files[0]) {
									var reader = new FileReader();
									reader.onload = function(e) {
										$('#image').attr('src', e.target.result);
									}
									reader.readAsDataURL(fileInput.files[0]);

								}
							}
						</script>
						
						<div class="form-group">
							<label for="imageVocab">File ảnh bài nghe:</label> 
							<input type="file" class="form-control" id="file_imageVocab" name="file_imageQuestion" onchange="chooseFile(this)" accept=".png,.jpg" /> 
							<img id="image" th:src="@{/image/anhbainghe.png}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">
						</div>

						<div>
								<span style="color:red;"> Lưu ý: Nhập file audio và file excel chỉ dùng cho Part 3 và Part 4.</span>
						</div>

					  <div class="form-group">
                         <label for="fileNge" >File audio:</label>
                         <input type="file" class="form-control" id="file_listen" name="file_listen"   accept=".mp3,.org">
                         
                      </div>

            
                      <div class="form-group">
                         <label for="fileExcel" >File nội dung   <a th:href="@{../../resources/file/mau/mau_bai_nghe.xlsx}">(Tải file mẫu)</a></label>
                         <input type="file" class="form-control" id="file_Excel" name="file_Excel" accept=".xlsx,.xls" >
                      </div> 

                 </div>
                 
                 <div class="card-footer text-muted">
                 
                     <button class="btn btn-primary"  >
		                 <span> <i class="fas fa-save">&nbsp;Lưu</i> </span>                   
                     </button>
                     
                     <button class="btn btn-success" type="reset">
                     	 <span><i class="fa fa-refresh" aria-hidden="false">&nbsp;Đặt lại</i></span>
                     </button>
					

					</div>
             </div>

            </form>
		</div>
        </section>
        
       
	  
    
</body>
</html>