<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/teacher/dashboardLayout.html}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
        <section class="row" layout:fragment="content"> 
        
         <div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end;">
	        <button class="btn btn-warning" >
					<a th:href="@{/teacher/listen/}" style="color: white; text-decoration: none;"> 
						<span> <strong>Quay lại</strong> </span>
					</a>
			</button>
        </div>
	        
         <div class="col-md-12">
		    <form  th:action="@{/teacher/listen/update-listening}" method="post" th:object="${listen}" enctype="multipart/form-data">
             <div class="card mt-3">
                 <div class="card-header">
                   <h2 style="text-align:center">Sửa bài nghe</h2>
                 </div>
                 <div class="card-body">
                 	<div th:if="${error!=null}" class="alert alert-danger"
							role="alert">
							<strong>[[${error}]]</strong>
					</div>
					
                    <div class="form-group">
                      <input type="text" th:field="*{listenId}" id="listenId" class="form-control" placeholder="Listening Id" 
                      aria-describedby="ListenIdHelpId"  readonly="False" hidden>
                      
                    </div>
                   
                      
                    <div class="form-group">
                      <label for="name">Tên bài nghe </label>
                      <input type="text" class="form-control" th:field="*{name}" id="name" aria-describedby="nameHelpId" placeholder="Tên bài nghe">
                      <small th:if="${#fields.hasErrors('name')}" id="nameHelpId"  style="color:red;">Không được bỏ trống</small>
                    </div>
                    
                     <div class="form-group">
                        <label for="status">Phần:</label>
                            <select class="form-control" th:field="*{part}" id="status">
							   <option value="1" th:selected="${searchPart==1}">Phần 1 - Hình ảnh</option>
		                       <option value="2" th:selected="${searchPart==2}">Phần 2 - Trả lời câu hỏi </option>
		                       <option value="3" th:selected="${searchPart==3}">Phần 3 - Hội thoại ngắn</option>
		                       <option value="4" th:selected="${searchPart==4}">Phần 4 - Đối thoại ngắn</option>  
							</select>
                     </div>
                     
                      <div class="form-group">
                        <label for="status">Độ khó:</label>
                            <select class="form-control" th:field="*{level}" id="status">
                               <option value="1" selected>Dễ</option>
                               <option value="2" >Vừa</option>
                               <option value="3">Khó</option>
                            </select>
                     </div>
						
						
						<div class="form-group">
							<label for="imageVocab">File ảnh bài nghe:</label> 
							<input type="hidden" th:field="*{image}" />
							<input type="file" class="form-control" id="file_imageVocab" name="file_imageQuestion" onchange="chooseFile(this)" accept=".png,.jpg" /> 
							<img id="image" th:src="@{*{image}}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">
						</div>
						
						
						
                 </div>
                 
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
		                  <span>Cập nhật</span>           
                     </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
             </div>

            </form>
		    </div>
		   
        </section>
        
        
        <script src="../js/validator.js"></script>

	    <script type="text/javascript">
	    activemenu();
	    </script>
</body>
</html>

<script>
							function chooseFile(fileInput) {
								if (fileInput.files && fileInput.files[0]) {
									var reader = new FileReader();
									reader.onload = function(e) {
										$('#image').attr('src', e.target.result);
									}
									reader.readAsDataURL(fileInput.files[0]);

								}
							}
						</script>
						