<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>

	<footer class="page-footer font-small pt-4 indigo" th:fragment="footer">

		<!-- Footer Links -->
		<div class="container text-center text-md-left">

			<!-- Grid row -->
			<div class="row">

				<!-- Grid column -->
				<div class="col-md-3 mx-auto">

					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Liên hệ</h5>

					<ul class="list-unstyled">
						<li><a th:href="@{https://www.facebook.com/hpn2812/}">Facebook: Huỳnh Nhã</a></li>
						<li><a href="#"> Skype:live:.cid.26d02bb34e4e1216</a> </li>
					</ul>

				</div>
				<!-- Grid column -->

				<hr class="clearfix w-100 d-md-none">

				<!-- Grid column -->
				<div class="col-md-3 mx-auto">

					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Trung tâm đào tạo</h5>

					<ul class="list-unstyled">
						<li><a th:href="@{https://www.anhngumshoa.com/}" target="_blank">Anh ngữ Ms.Hoa</a></li>
						<li><a th:href="@{http://www.toeicsky.com/}" target="_blank">Toeic Sky</a></li>
						<li><a th:href="@{http://www.toeicmasterdanang.com/}" target="_blank">TOEIC MASTER DA NANG</a></li>
					</ul>

				</div>
				<!-- Grid column -->

				<hr class="clearfix w-100 d-md-none">

				<!-- Grid column -->
				<div class="col-md-3 mx-auto">

					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Tài liệu tham khảo</h5>

					<ul class="list-unstyled">
						<li><a href="https://www.anhngumshoa.com/tin-tuc/tron-bo-de-ets-toeic-2021-ets-summer-moi-nhat-38317.html" target="_blank">Trọn bộ đề ETS Toeic 2021</a></li>
						<li><a href="https://www.anhngumshoa.com/tin-tuc/60-ky-xao-dac-biet-om-tron-900-toeic-38309.html" target="_blank"> 60 kỹ xảo đặc biệt</a></li>
						<li><a href="https://www.anhngumshoa.com/tin-tuc/chien-thuat-500-gio-an-ngu-voi-tieng-anh-38125.html" target="_blank">Chiến thuật ôn tập Toeic</a></li>
						<li><a href="https://www.facebook.com/groups/toeic4kynang.mshoa/" target="_blank">Group tài liệu</a></li>
					</ul>

				</div>
				<!-- Grid column -->

				<hr class="clearfix w-100 d-md-none">

				<!-- Grid column -->
				<div class="col-md-3 mx-auto">

					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Địa chỉ</h5>
					<span>48 Cao Thắng,P.Thanh Bình, Q.Hải Châu, TP Đà Nẵng</span>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.780480939071!2d108.21144551433679!3d16.076877243504423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421847f0d1243f%3A0xfe9e3527761db501!2zNDggQ2FvIFRo4bqvbmcsIFRoYW5oIELDrG5oLCBI4bqjaSBDaMOidSwgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1638379573912!5m2!1svi!2s" width="300" height="150" style="border:1;" loading="lazy"></iframe>

					

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">
			© 2021 Copyright
		</div>
		<!-- Copyright -->

	</footer>
</body>
</html>

