<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">

</head>
<body>
	 <div th:fragment="header">
	 	
	<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm" style="border-radius:0px;margin:0;background-color: #111111!important;">
  <div class="container">
    <a th:href="@{/}" class="navbar-brand" style="padding:0;">
      <!-- Logo Image -->
      <img th:src="@{/image/logouser.png}" height="50px" alt="logo" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
    <!--   <span class="text-uppercase font-weight-bold"> Luyện thi toeic</span> -->
    </a>

	    <div id="navbarSupportedContent" class="collapse navbar-collapse" 
	    	style="display: flex !important;justify-content: end;align-items: center;">
	    	
	    	
	      <ul class="navbar-nav ml-auto">
	      
	        <li class="nav-item active"><a  th:href="@{/}" class="nav-link">Trang chủ</a></li>
	       	 
	        <li class="nav-item dropdown">
	       	 <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Ôn tập</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/grammar}">Ngữ pháp</a>
						<a class="dropdown-item" th:href="@{/vocabulary}">Từ vựng</a>
					</div>
			</li>
			
			 <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
	       	 <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Luyện thi</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/user/listen}">Luyện nghe</a> 
						<a class="dropdown-item" th:href="@{/user/reading}">Luyện đọc</a> 
						<a class="dropdown-item" th:href="@{/user/test-exam}">Luyện đề thi thử</a> 
					</div>
			</li>
			
			
		     <li class="nav-item dropdown">
		         <a class="nav-link" data-toggle="dropdown" href="#" sec:authorize="isAuthenticated()"> Xin chào, <strong sec:authentication="name" style="color:blue;"></strong></a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/user/profile}">Thông tin cá nhân</a> 
					<a class="dropdown-item" th:href="@{/user/profile/change-password}">Đổi mật khẩu</a> 
					<a class="dropdown-item" href="#" onclick="document.forms['logoutForm'].submit()">Đăng xuất</a>
				</div>
			</li>
				
				<li class="nav-item" >
							<form id="logoutForm" th:action="@{/logout}" method="post">
							  	 <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
							</form>
				</li>
				 <li class="nav-item" sec:authorize="isAnonymous()"><a  th:href="@{/login}" class="nav-link">Đăng nhập</a></li>
				  <li class="nav-item" sec:authorize="isAnonymous()"><a  th:href="@{/registration}" class="nav-link">Đăng kí</a></li>
			
	      </ul>
	    </div>
  </div>
</nav>

	</div> 
</body>
</html>