<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/user/dashboardLayout.html}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>

	<link rel="stylesheet" href="./../css/content.css" />
	<link rel="stylesheet" href="./../css/style.css" />
	
	<link rel="stylesheet" href="../../../css/content.css" />
	<link rel="stylesheet" href="../../../css/style.css" />
</head>
<body>

	<section class="row" layout:fragment="content">
	
		<div class="col-12 text-center mt-4">
			<h1 class="w2"> Đề thi Toeic (Minitest)</h1>	
		</div>
		
		
       
		<div class="container mt-3">
			<div class="row">
				<div class="col-10" style="display: flex; justify-content: space-between;">
					<form th:action="@{/user/test-exam/page/1}" class="d-flex" >
		            	<input type="text" name="searchName" placeholder="Nhập từ khóa tìm kiếm..." style="padding:5px;border:1px solid grey; border-radius:5px;">	        
					    <button class="btn btn-secondary ml-3" type="submit"> Tìm kiếm </button>
					</form>
	      		</div>
			</div>
			
		<div class="row">
			 	<div class="col-9" style="min-height: 600px;">
			 		<div th:if="${listQuesion.isEmpty()}">
			 			<span> Chưa có thông tin bài thi nào!</span>
			 		</div>
				 	<div class="media mt-5" th:each="item: ${listQuesion}">
							<img th:src="@{${item.image}}" class="align-self-center mr-3" style="width: 150px;height:150px;" >
							<div class="media-body">
								<h5 th:text="${item.name}"></h5>
								<p>Hệ thống luyện thi toeic cùng bạn ôn tập và luyện thi để đạt kết quả cao nhé!</p>
								<p style="color:#ccc;">Người đăng: GV [[${item.users.fullName}]]</p>
								<button class="btn btn-primary"> 
									<a th:data-id=${item.testExamId} onclick="removersession(this.getAttribute('data-id'))" style="color:white;">Làm đề thi</a>
								</button>
							</div>
					</div>
			 	</div>
			 	
				<div class="col-3" style="margin-bottom:50px;">
			 		<h3 class="w2 text-center">DANH MỤC</h3>
				 	<ul class="nav nav-pills flex-column category">
				 		<li class="nav-item">
				          <a class="nav-link" th:href="@{/grammar}">Ôn tập ngữ pháp</a>
				        </li>
				        
				        <li class="nav-item">
				          <a class="nav-link" th:href="@{/vocabulary}"> Ôn tập từ vựng</a>
				        </li>
				        
				        <li class="nav-item">
				          <a class="nav-link " th:href="@{/user/listen}" sec:authorize="isAuthenticated()">Luyện đề phần nghe</a>
				        </li>
				        
				 	 	<li class="nav-item ">
				          <a class="nav-link" th:href="@{/user/reading}" sec:authorize="isAuthenticated()">Luyện đề phần đọc</a>
				        </li>
				        
				        <li class="nav-item" >
				          <a class="nav-link active" th:href="@{/user/test-exam}"  sec:authorize="isAuthenticated()">Luyện đề thi</a>
				        </li>
				        
				        <li class="nav-item" >
				          <a class="nav-link " th:href="@{/user/history}"  sec:authorize="isAuthenticated()">Lịch sử thi</a>
				        </li>
				     </ul>
			 	</div>
			 	
			 </div>
			 
			 
			  <div th:if="${totalPages > 1}" style="display: grid;">
			 	<!-- item start of end of current page -->
					 	<span class="text-center" th:if="${currentPage==1}">Hàng 1 - [[${itemStart}]] trong tổng [[${totalItems}]] hàng. </span>
						<span class="text-center" th:if="${currentPage>1 && currentPage<totalPages}">Hàng [[${itemStart-2}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage==totalPages}">Hàng [[${itemStart-2}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
						<!-- Page current: <input type="text" th:value="${currentPage}" style="width:30px; text-align: center; margin-bottom:6px;"/> -->
                        
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
					
				 			<!--  Trang đầu tiên -->
							<li class="page-item ml-3"><a class="page-link"
								aria-label="Previous"
								th:if="${currentPage <= totalPages && currentPage>1}"
								th:href="@{'/user/test-exam/page/1?searchName='+${searchName}}">
									<span aria-hidden="true">Trang đầu</span> <span class="sr-only"
									th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
							</a></li>
							
							<!--  về trang trước trang hiện tại -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/user/test-exam/page/' + ${currentPage - 1}+ '?searchName=' + ${searchName}}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>

                                <li class="page-item active" 
	                                th:each="i: ${#numbers.sequence(1, totalPages)}"
	                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/user/test-exam/page/' + ${i}+'?searchName=' + ${searchName}}">[[${i}]]</a></li>
                               
                               
                                <!--  đến trang sau trang hiện tại -->
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/user/test-exam/page/' + ${currentPage + 1}+ '?searchName=' + ${searchName}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                                
                                <!--  đến trang cuối cùng -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/user/test-exam/page/' + ${totalPages}+ '?searchName='+${searchName}} ">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
			 
			 </div>
		</div>
	</section>	
</body>
</html>

<script>
function removersession(id){
	window.localStorage.removeItem("secondsd");
	window.localStorage.removeItem("minutesd");
	window.location.href = "/webtoeic/user/test-exam/listen="+id;
}
</script>