<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/result.css}">
<link rel="stylesheet" href="./css/style.css"/>
</head>
<body>


		<div class="main-container container py-5 px-4">
		<div class="card bg-dark text-light py-5 px-4 mx-auto">
			<img th:src="@{/image/exam.svg}" alt="image">
			
			<h3 class="bg-danger text-center mb-5 p-2">KẾT QUẢ THI THỬ</h3>

			<div class="d-flex justify-content-center">
				<p sec:authorize="isAuthenticated()">Tên:&nbsp;&nbsp; <strong sec:authentication="name"> </strong> </p>
			</div>
			<div class="d-flex justify-content-center">
				<p>Số câu nghe đúng: &nbsp;&nbsp;</p>
				<p th:text="${resultListening}"></p>
			</div>
			<div class="d-flex justify-content-center">
				<p>Số câu bài đọc đúng:&nbsp;&nbsp;</p>
				<p th:text="${resultReading}"></p>
			</div>
			<div class="d-flex justify-content-center">
				<p>Tổng số câu trả lời đúng:&nbsp;&nbsp;</p>
				<p th:text="${totalCorrect}"></p>
			</div>

			<div class="d-flex justify-content-center mt-4">
				
				<button type="button"  class="btn btn-outline-warning mx-auto">
					 <strong><a th:href="@{/user/test-exam}" style="text-decoration:none;color:white;">Quay lại trang chủ</a></strong>	
				</button>
				
				<button type="button"  class="btn btn-outline-warning mx-auto">
						 <strong> <a th:href="@{/user/history}" style="text-decoration:none;color:white;">Xem lịch sử thi</a> </strong>	
				</button>

			</div>
		</div>
	</div>
		

</body>
</html>