<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/score.css}">
	<title>Score Board</title>
</head>
<body>

	<!-- Main Container Start -->
	<div class="main-container container py-5 px-4">
		<h3 class="bg-danger text-center mb-5 p-2">Top điểm của hệ thống</h3>
		
		<table class="bg-dark text-light">
			<tr>
				<th>Tài khoản</th>
				<th>Điểm</th>
			</tr>
			<tr th:each="score : ${sList}">
				<td th:text="score.users.fullName"> </td>

				<td th:text="${score.totalCorrect}"></td>
			</tr>
		</table>
	</div>
	


	
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>