<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="../../css/content.css" />
	<link rel="stylesheet" href="../../css/style.css" />
<!-- Bootstrap CSS -->
  <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	
	
</head>
<body>
	<section class="row" layout:fragment="content" style="margin: 0;padding:0;">
		<div class="col-3 text-center mt-5">
			<button class="btn btn-info"  th:onclick="window.location.href='http://localhost:8080/webtoeic/'"> Trang chủ</button>
		</div>
		<div class="col-9 text-left mt-5">
			<h1 style="color: blue; margin-left:90px;">
				Luyện thi phần nghe 
			</h1>
		</div>

		<div class="container">
			<div class="row">
			
				<div id="navigation" style="width: 250px;">
					<div class="fix-scrolling">
						<br>
						<div class="time text-center">
								<strong >Time:  </strong>
								<strong ><span id="time"></span></strong>
						</div>
						<hr width="60%">

						<div th:each="item:${number}">
							<span class="numberCircle web-font" > 
							<a
								th:href="@{'#question'+${item}}" class="numberauto" th:data-id="${item}"  style="text-decoration: none;">[[${item}]]</a>
							</span>
						</div>

					</div>
				</div>

				<div class="offset-3 col-9">
				
					<form id="formsubmit" th:action="@{/user/test-exam/submit}" method="post"
						th:object=${qForm}>
						
						<div class="row">
						 <div class="col-12">
						 	
						 	<button type="submit"
									class="btn btn-danger d-block mx-auto mt-1 float-right">Nộp
							bài</button>
						
						 	</div>
						</div>
						<div class="ques-box mt-2"
							th:each="item, i: ${question.questions}" th:data-id="${i.index+1}">
							<div>
								<strong th:id="@{|question${i.index+1}|}">Câu [[${i.index+1}]] :</strong>
							</div>
							
							
							<div class="row mt-2">
								<div class="col-5" >
									<img th:if="${item.image!=null}" th:src="'/webtoeic'+${item.image}" alt="anh"
										style="height: 200px; width: 200px;" />
								</div>
								<div class="col-7">
								
									<audio controls th:if="${item.audio!=''}">
										<source th:src="'/webtoeic'+${item.audio}" type="audio/mpeg">
									</audio>
									
									<div class="option">
										<input type="radio" th:name="|questions[${i.index}].chose|" th:value="A" th:id="@{|checkA${i.index+1}|}"/> 
										<label th:for="@{|checkA${i.index+1}|}" th:text="${item.option1}" style="cursor:pointer;"></label>
									</div>

									<div class="option">
										<input type="radio" th:name="|questions[${i.index}].chose|" th:value="B" th:id="@{|checkB${i.index+1}|}" /> 
										<label th:for="@{|checkB${i.index+1}|}" th:text="${item.option2}" style="cursor:pointer;"></label>
									</div>
									
									<div class="option">
										<input type="radio" th:name="|questions[${i.index}].chose|" th:value="C" th:id="@{|checkC${i.index+1}|}" />
										<label th:for="@{|checkC${i.index+1}|}" th:text="${item.option3}" style="cursor:pointer;"></label>
									</div>

									<div class="option" th:if="${item.option4!=''}">
										<input type="radio" th:name="|questions[${i.index}].chose|" th:value="D" th:id="@{|checkD${i.index+1}|}" />
										<label th:for="@{|checkD${i.index+1}|}" th:text="${item.option4}" style="cursor:pointer;"></label>
									</div>

									<input type="hidden" th:name="|questions[${i.index}].questionId|" th:value="${item.questionId}"/> 
									<input type="hidden" th:name="|questions[${i.index}].question|" th:value="${item.question}" /> 
									<input type="hidden" th:name="|questions[${i.index}].corectOption|" th:value="${item.corectOption}" />
								</div>
							</div>
						</div>


						<div class="row mt-3 mb-5">
							<input type="hidden" name="testExamId" th:value="${testExamId}" />
							<strong>------------------------------------------------------------
								Hết đề
								------------------------------------------------------------</strong>
						</div>
						
						
					</form>
				</div>

			</div>
			
		<!-- 	 về top -->
			<button onclick="topFunction()" id="myBtn" title="Go to top" style="padding:8px;"><i class="fas fa-arrow-circle-up"></i></button>
		</div>


		<!-- Button trigger modal -->


	

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="titleconfirm"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" id="cancel"
							data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger" id="continues">
						Chắc chắn
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>

<script>
	
	var form, counter;
	
	form = document.getElementById("formsubmit");
	form.onsubmit = function() {
	  count();
	  return false;
	};
	 $( "#continues" ).click(function() {
		  
		  
		  submitform();
		});
	 function submitform(){

         document.forms["formsubmit"].submit();
       }
	$(".ques-box").on("click", function(){
		  var idtmp = $(this).data('id');
		  for (const [key, value] of Object.entries($(".numberauto"))) {
			  if (value.getAttribute("data-id") == idtmp){
				  value.parentElement.classList.add("my-class");
			  }
		  }
		});

	
	
	


		function end(){
			window.localStorage.removeItem("secondsd");
			window.localStorage.removeItem("minutesd");
			
		}

	    function startTimer(duration, display) {
	    	var timer = duration, minutes, seconds;
	    	setInterval(function () {
	    	    minutes = parseInt(timer / 60, 10)
	    	    seconds = parseInt(timer % 60, 10);

	    	    minutes = minutes < 10 ? "0" + minutes : minutes;
	    	    seconds = seconds < 10 ? "0" + seconds : seconds;

	    	    display.textContent = minutes + " " + ":   " + seconds;

	    	    if (--timer < 0) {
	    	        timer = duration;
	    	    }
	    	    if(timer==0){
	    	    	window.localStorage.removeItem("secondsd");
	            	window.localStorage.removeItem("minutesd");
	            	
	            }
	    	
	    	  window.localStorage.setItem("secondsd",seconds)
	    	  window.localStorage.setItem("minutesd",minutes)
	    	}, 1000);
	    	}

	    	window.onload = function () {
	    	  sec  = parseInt(window.localStorage.getItem("secondsd"))
	    	  min = parseInt(window.localStorage.getItem("minutesd"))

	    	  if(parseInt(min*sec)){
	    	    var fiveMinutes = (parseInt(min*60)+sec);
	    	  }else{
	    	    var fiveMinutes = 60 * 45;
	    	  }
	    	  display = document.querySelector('#time');
	    	  startTimer(fiveMinutes, display);
	    	};
	    	
	    	
	    	var mybutton = document.getElementById("myBtn");

	    	// When the user scrolls down 20px from the top of the document, show the button
	    	window.onscroll = function() {scrollFunction()};

	    	function scrollFunction() {
	    	  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
	    	    mybutton.style.display = "block";
	    	  } else {
	    	    mybutton.style.display = "none";
	    	  }
	    	}

	    	// When the user clicks on the button, scroll to the top of the document
	    	function topFunction() {
	    	  document.body.scrollTop = 0;
	    	  document.documentElement.scrollTop = 0;
	    	}
	    	
	    	function count(){
	    		let counts = 50 - document.getElementsByClassName('my-class').length;
	    		document.getElementById('titleconfirm').innerText ="Bạn còn " + counts + " chưa chọn! Bạn chắc chắn nộp bài chứ?";
	    		console.log(50 - document.getElementsByClassName('my-class').length);
	    		$('#exampleModal').modal('show');
	    	}
	    	
	
	</script>

