<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/user/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
	<title>Làm bài tập đọc</title>
	
	
	<link rel="stylesheet" href="../../css/content.css" />
	<link rel="stylesheet" href="../../css/style.css" />
</head>
<body>
	<section class="row" layout:fragment="content">
		
		
		
		


		<div class="container">
			
				
				<div class="col-12 text-center">
					<h2 class="w2">Bài [[${detail.name}]]</h2>
				</div>
				
				<div class="time text-center">
					<strong >Time:  </strong>
					<strong ><span id="time"></span></strong>
				</div>
			
		
		<form th:action="@{/user/reading/submit}" method="POST" th:object=${qForm}>
		
		
			<div class="ques-box mt-5" th:each="item, i: ${question.questions}">
			
				<strong>Câu [[${i.index+1}]] :</strong>
				
				<div class="row mt-2">
					
				<div class="col-12">
				 <div>
				 	<h4 th:text="${item.paragrahps}"></h4>
				 </div>
				
				 <div>
				 	<h4 th:text="${item.question}"></h4>
				 </div>
				<div class="option mt-2">
					<input type="radio" th:name="|questions[${i.index}].chose|" th:value="A" />
					<span th:text="${item.a}"></span>
				</div>
				
				<div class="option">
					<input type="radio" th:name="|questions[${i.index}].chose|" th:value="B" /> 
					<span th:text="${item.b}"></span>
				</div>
				
				<div class="option">
					<input type="radio" th:name="|questions[${i.index}].chose|" th:value="C" />
					<span th:text="${item.c}"></span>
				</div>
				
				<div class="option">
					<input type="radio" th:name="|questions[${i.index}].chose|" th:value="D" />
					<span th:text="${item.d}"></span>
				</div>
				
				<input type="hidden" th:name="|questions[${i.index}].crId|" th:value="${item.crId}" />
				<input type="hidden" th:name="|questions[${i.index}].question|" th:value="${item.question}" />
				<input type="hidden" th:name="|questions[${i.index}].correctReading|" th:value="${item.correctReading}" /> 
						
					</div>
				</div>	
			</div>
			
			<button type="submit" class="btn btn-danger d-block mx-auto mt-4 mb-5">Nộp bài</button>
		</form>
	</div>
	<button onclick="topFunction()" id="myBtn" title="Go to top" style="padding:8px;"><i class="fas fa-arrow-circle-up"></i></button>	
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="../js/testListen.js"></script>
	</section>	
</body>
</html>

<script>
function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

       if (--timer < 0) {
            timer = duration;
        } 

       if(timer==0){
        	console.log('submit nè');
        	document.getElementById("myForm").submit();
        }
    }, 1000);
}

window.onload = function () {
    var time =60*10;
    display = document.querySelector('#time');
    startTimer(time, display);

};

</script>