<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/user/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="../css/content.css" />
	<link rel="stylesheet" href="../css/style.css" />
	
	<link rel="stylesheet" href="../../../css/content.css" />
	<link rel="stylesheet" href="../../../css/style.css" />
	
	
</head>
<body>

	<section class="row" layout:fragment="content">

		<div class="col-12 text-center mt-4">
			<h1 class="w2">Luyện phần đọc</h1>	
		</div>
		<!-- content -->
		<div class="container mt-3">
			<div class="row">
				<!-- filter -->
					<div class="col-12" style="display: flex; justify-content: space-between;">
						<form th:action="@{/user/reading/page/1}" class="d-flex" >
						
						        <select class="form-control mr-2" name="searchPart">
						        	 <option value="0" th:selected="${searchPart==0}">Tất cả</option>
			                         <option value="1" th:selected="${searchPart==1}">Phần 5 - Hoàn thành câu</option>
			                         <option value="2" th:selected="${searchPart==2}">Phần 6 - Hoàn thành đoạn văn</option>
			                         <option value="3" th:selected="${searchPart==3}">Phần 7 - Đọc hiểu</option>
			                    </select>
			
			                    <select class="form-control mr-2" name="searchLevel">
						        	 <option value="0" th:selected="${searchLevel==0}">Tất cả</option>
			                         <option value="1" th:selected="${searchLevel==1}">Dễ</option>
			                         <option value="2" th:selected="${searchLevel==2}">Vừa</option>
			                         <option value="3" th:selected="${searchLevel==3}">Khó</option>
			                    </select> 
			                    
						        <button class="btn btn-secondary" type="submit" style="white-space: nowrap;"> Tìm kiếm </button>
						        
						</form>
			       </div>    
			</div>
			 <div class="row">
			 	<div class="col-9" th:if="${list.isEmpty()}">
			 		<span> Chưa có thông tin bài đọc!</span>
			 	</div>
			 	<div class="col-9"  style="min-height: 600px;">
			 	 	<!-- showing -->
			 	
				 	<div class="media mt-5" th:each="item: ${list}">
						<img th:src="@{${item.image}}" class="align-self-center mr-3" style="width: 200px;height:200px;" >
						<div class="media-body ml-4">
							<a th:href="@{'/user/reading/'+${item.readId}}" style="color:blue;"><h5 th:text="${item.name}"></h5> </a>
							<p>
							<strong>Mức độ:</strong> 
								<span th:if="${item.level==1}" th:text="Dễ"></span>
								<span th:if="${item.level==2}" th:text="Vừa"></span>
								<span th:if="${item.level==3}" th:text="Khó"></span>
							</p>
							<p>Hệ thống luyện thi toeic cùng bạn ôn tập và luyện thi để đạt kết quả cao nhé!</p>
							<p style="color:#ccc;">Người đăng: GV [[${item.users.fullName}]]</p>
							
						</div>
						
						
						
					</div>
				
			 	
			 	</div>
				<div class="col-3" style="margin-bottom:50px;">
			 		<h3 class="w2 text-center">DANH MỤC</h3>
				 	<ul class="nav nav-pills flex-column category">
				 		<li class="nav-item">
				          <a class="nav-link" th:href="@{/grammar}">Ôn tập ngữ pháp</a>
				        </li>
				        
				        <li class="nav-item">
				          <a class="nav-link" th:href="@{/vocabulary}"> Ôn tập từ vựng</a>
				        </li>
				        
				        <li class="nav-item">
				          <a class="nav-link " th:href="@{/user/listen}" sec:authorize="isAuthenticated()">Luyện đề phần nghe</a>
				        </li>
				        
				 	 	<li class="nav-item ">
				          <a class="nav-link active" th:href="@{/user/reading}" sec:authorize="isAuthenticated()">Luyện đề phần đọc</a>
				        </li>
				        
				        <li class="nav-item" >
				          <a class="nav-link" th:href="@{/user/test-exam}"  sec:authorize="isAuthenticated()">Luyện đề thi</a>
				        </li>
				        
				        <li class="nav-item" >
				          <a class="nav-link " th:href="@{/user/history}"  sec:authorize="isAuthenticated()">Lịch sử thi</a>
				        </li>
				     </ul>
			 	</div>
			 </div>
			 
			 
			 <div th:if="${totalPages > 1}" style="display: grid;">
			 	<!-- item start of end of current page -->
					 	<span class="text-center" th:if="${currentPage==1}">Hiển thị hàng 1 - [[${itemStart}]] trong tổng [[${totalItems}]] hàng. </span>
						<span class="text-center" th:if="${currentPage>1 && currentPage<totalPages}">Hiển thị hàng [[${itemStart-4}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage==totalPages}">Hiển thị hàng [[${itemStart-4}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
						<!-- Page current: <input type="text" th:value="${currentPage}" style="width:30px; text-align: center; margin-bottom:6px;"/> -->
                        
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
					
				 			<!--  Trang đầu tiên -->
							<li class="page-item ml-3"><a class="page-link"
								aria-label="Previous"
								th:if="${currentPage <= totalPages && currentPage>1}"
								th:href="@{'/user/reading/page/' + 1+ '?searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}">
									<span aria-hidden="true">Trang đầu</span> <span class="sr-only"
									th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
							</a></li>
							
							<!--  về trang trước trang hiện tại -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/user/reading/page/' + ${currentPage - 1}+ '?searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>

                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/user/reading/page/' + ${i}+'?searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}">[[${i}]]</a></li>
                               
                               
                                <!--  đến trang sau trang hiện tại -->
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/user/reading/page/' + ${currentPage + 1}+ '?searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                                
                                <!--  đến trang cuối cùng -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/user/reading/page/' + ${totalPages}+ '?searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel} } ">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
			 
			 </div>
		
			
			
		</div>


	</section>	
</body>
</html>