<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../../css/content.css" />
<link rel="stylesheet" href="../../../css/style.css" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
	integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	crossorigin="anonymous">


</head>
<body>
	<section class="row" layout:fragment="content"
		style="margin: 0; padding: 0;">
		<div class="col-3 text-center mt-5">
			<button class="btn btn-info"
				th:onclick="window.location.href='http://localhost:8080/webtoeic/'">
				Trang chủ</button>
			<button class="btn btn-success">
				<a th:href="@{'/user/history/listen/'+${resultId}}" style="color:white;text-decoration: none;">Bài nghe</a> </button>
		</div>
		<div class="col-9 text-left mt-5">
			<h1 style="color: blue; margin-left: 90px;">
				Đáp án phần đọc
			</h1>
		</div>
		
		

		<div class="container">
			<div class="row">

				<div id="navigation" style="width: 250px;">
					<div class="fix-scrolling">
						<div th:each="item:${number}">
							<span class="numberCircle web-font"> <a
								th:href="@{'#question'+${item}}" class="numberauto"
								th:data-id="${item}" style="text-decoration: none;">[[${item}]]</a>
							</span>
						</div>

					</div>
				</div>

				<div class="offset-3 col-9">
					<div class="ques-box mt-2" th:each="item, i: ${list}" th:data-id="${i.index+51}">
							<strong th:id="@{|question${i.index+51}|}">Câu [[${i.index+51}]]:</strong>
							<span style="color:red;" th:if="${item.anwersOfUser==null}">Chưa chọn đáp án</span>
						<div>
							<pre th:if="${item.testExamQuestion.pragraph!=''}" th:text=${item.testExamQuestion.pragraph} class="paragraph"></pre>
							<span th:if="${item.testExamQuestion.pragraph==''}" th:text=${item.testExamQuestion.pragraph} hidden></span>
						</div>

						<div>
							<span th:text=${item.testExamQuestion.question}></span>
						</div>
						<div>

							<img th:if="${item.testExamQuestion.pragraph==''}"
								th:src="'/webtoeic'+${item.testExamQuestion.image}" alt="" hidden /> <img
								th:if="${item.testExamQuestion.pragraph!=''}" th:src="'/webtoeic'+${item.testExamQuestion.image}"
								alt="" />
						</div>


						<div class="option mt-2">
						
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser==null && item.anwersOfUser!='A'}"/>
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser!=null && item.anwersOfUser!='A'}"/>
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser!=null && item.anwersOfUser=='A'}" checked th:attr="data-id=@{|${i.index+51}|}"/>
							
							
							<label th:for="@{|checkA${i.index+51}|}" th:text="${item.testExamQuestion.option1}" style="cursor: pointer;"></label>
							
							<label th:if="${item.testExamQuestion.corectOption=='A'}">  
								 <img th:src="@{/image/correct.png}" alt="" />
							</label>
							
							<label th:if="${item.anwersOfUser!=null &&  item.anwersOfUser=='A' &&item.anwersOfUser!=item.testExamQuestion.corectOption}">  
								 <img th:src="@{/image/incorrect.png}" alt="" />
							</label>
							
						</div>


						<div class="option">
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser==null && item.anwersOfUser!='B'}"/>
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser!=null && item.anwersOfUser!='B'}"/>
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser!=null && item.anwersOfUser=='B'}" checked th:attr="data-id=@{|${i.index+51}|}"/>
							<label th:for="@{|checkB${i.index+51}|}" th:text="${item.testExamQuestion.option2}" style="cursor: pointer;"></label>
							
							<label th:if="${item.testExamQuestion.corectOption=='B'}">  
								 <img th:src="@{/image/correct.png}" alt="" />
							</label>
							
							<label th:if="${item.anwersOfUser!=null &&  item.anwersOfUser=='B' &&item.anwersOfUser!=item.testExamQuestion.corectOption}">  
								 <img th:src="@{/image/incorrect.png}" alt="" />
							</label>
							
						</div>

						<div class="option">
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser==null && item.anwersOfUser!='C'}"/>
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser!=null && item.anwersOfUser!='C'}"/>
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser!=null && item.anwersOfUser=='C'}" checked th:attr="data-id=@{|${i.index+51}|}"/>
							
							 
							<label th:for="@{|checkC${i.index+51}|}" th:text="${item.testExamQuestion.option3}" style="cursor: pointer;"></label>
							
							<label th:if="${item.testExamQuestion.corectOption=='C'}">  
								 <img th:src="@{/image/correct.png}" alt="" />
							</label>
							
							<label th:if="${item.anwersOfUser!=null &&  item.anwersOfUser=='C' &&item.anwersOfUser!=item.testExamQuestion.corectOption}">  
								 <img th:src="@{/image/incorrect.png}" alt="" />
							</label>
						</div>

						<div class="option">
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser==null && item.anwersOfUser!='D'}"/>
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser!=null && item.anwersOfUser!='D'}"/>
							<input type="radio" th:name="|questions[${i.index}].chose|" th:id="@{|checkA${i.index+51}|}" th:if="${item.anwersOfUser!=null && item.anwersOfUser=='D'}" checked th:attr="data-id=@{|${i.index+51}|}"/>
							
							
							<label th:for="@{|checkD${i.index+51}|}" th:text="${item.testExamQuestion.option4}" style="cursor: pointer;"></label>
							
							<label th:if="${item.testExamQuestion.corectOption=='D'}">  
								 <img th:src="@{/image/correct.png}" alt="" />
							</label>
							
							<label th:if="${item.anwersOfUser!=null &&  item.anwersOfUser=='D' &&item.anwersOfUser!=item.testExamQuestion.corectOption}">  
								 <img th:src="@{/image/incorrect.png}" alt="" />
							</label>
							
						</div>
					</div>




					<div class="row mt-3">
						<strong>------------------------------------------------------------
							Hết đề
							------------------------------------------------------------</strong>
					</div>
				</div>

			</div>

		</div>

		<!-- 	 về top -->
		<button onclick="topFunction()" id="myBtn" title="Go to top"
			style="padding: 8px;">
			<i class="fas fa-arrow-circle-up"></i>
		</button>


	</section>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script>
		function end() {
			window.localStorage.removeItem("secondsd");
			window.localStorage.removeItem("minutesd");
			document.getElementById("myForm").submit();
		}

		function startTimer(duration, display) {
			var timer = duration, minutes, seconds;
			setInterval(function() {
				minutes = parseInt(timer / 60, 10)
				seconds = parseInt(timer % 60, 10);

				minutes = minutes < 10 ? "0" + minutes : minutes;
				seconds = seconds < 10 ? "0" + seconds : seconds;

				display.textContent = minutes + " " + ":   " + seconds;

				if (--timer < 0) {
					timer = duration;
				}
				if (timer == 0) {
					window.localStorage.removeItem("secondsd");
					window.localStorage.removeItem("minutesd");
					document.getElementById("myForm").submit();
				}

				window.localStorage.setItem("secondsd", seconds)
				window.localStorage.setItem("minutesd", minutes)
			}, 1000);
		}

		window.onload = function() {
			sec = parseInt(window.localStorage.getItem("secondsd"))
			min = parseInt(window.localStorage.getItem("minutesd"))

			if (parseInt(min * sec)) {
				var fiveMinutes = (parseInt(min * 60) + sec);
			} else {
				var fiveMinutes = 60 * 45;
			}
			display = document.querySelector('#time');
			startTimer(fiveMinutes, display);
		};

		var mybutton = document.getElementById("myBtn");

		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function() {
			scrollFunction()
		};

		function scrollFunction() {
			if (document.body.scrollTop > 20
					|| document.documentElement.scrollTop > 20) {
				mybutton.style.display = "block";
			} else {
				mybutton.style.display = "none";
			}
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
		var boxes = $('input:checked');
    	var clasname = $('.numberauto');
    	boxes.each(function(){
    	   var idbefore =$(this).data('id'); 
    	   clasname.each(function(){
    		   var idafter = $(this).data('id');
    		   if (idafter == idbefore){
    			   $(this).parent().addClass("my-class");
    		   }
    	   })
    	});
	</script>
</body>
</html>

