<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/teacher/dashboardLayout.html}"
>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" th:src="@{../../ckeditor/ckeditor.js}"></script>
</head>
<body>
        <section class="row" layout:fragment="content"> 
        
        
	 <div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end;">
	        <button class="btn btn-warning" >
					<a th:href="@{/teacher/grammar}" style="color: white; text-decoration: none;"> 
						<strong>Quay lại</strong>
					</a>
			</button>
      </div>	
        <div class="col-md-12 mt-4">
          <form  th:action="@{/teacher/grammar/saveOrUpdate}" method="post" th:object="${grammars}" enctype="multipart/form-data">
             <div class="card">
                 <div class="card-header text-center">
	                  <h2  th:unless="${grammars.isEdit}">Thêm bài ngữ pháp</h2>
	                  <h2  th:if="${grammars.isEdit}">Sửa bài ngữ pháp</h2>
                 </div>
                 <div class="card-body">
                 
                    <div class="form-group">
                     	<input type="hidden" th:field="*{isEdit}">
                      <input type="text" th:field="*{grammarId}" id="listenId" class="form-control" placeholder="Listening Id" aria-describedby="ListenIdHelpId"  hidden>
                    </div>
                      <label  th:if="${message != null}"  th:text="${message}" style="color:red;"></label>
                      
                    <div class="form-group">
                   		 <label for="nameId">Tên bài ngữ pháp</label>
                     	 <input type="text" class="form-control" th:field="*{name}" id="nameId" aria-describedby="nameHelpId" placeholder="Nhập tên bài ngữ pháp">
                      	 <small th:if="${#fields.hasErrors('name')}" id="nameHelpId"  style="color:red;">Trường đáp án không được bỏ trống!</small>
                    </div>
                    
					 <script>
							function chooseFile(fileInput) {
								if (fileInput.files && fileInput.files[0]) {
									var reader = new FileReader();
									reader.onload = function(e) {
										$('#image').attr('src', e.target.result);
									}
									reader.readAsDataURL(fileInput.files[0]);

								}
							}
						</script>
						
						<div class="form-group">
							<label for="imageVocab">Hình ảnh:</label> 
							<input type="file" class="form-control" id="file_imageVocab" name="file_imageQuestion" onchange="chooseFile(this)" accept=".png,.jpg" /> 
							<img id="image"  th:unless="${grammars.isEdit}" th:src="@{/image/tuvung.png}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">
							<img id="image"  th:if="${grammars.isEdit}" th:src="@{*{image}}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">
						</div>
                    
                    
                     <div class="form-group">
                         <label for="textarea" >Nội dung: <span style="color:red;">( Lưu ý: chuyển sang mã <strong> HTML </strong>  trước khi lưu )</span></label>
                         <textarea th:id="@{|content|}"  th:field="*{content}"  style="resize: none;" placeholder="Nhập nội dung ..."></textarea>
                   		<small th:if="${#fields.hasErrors('content')}" id="nameHelpId"  style="color:red;">Trường nội dung không được bỏ trống!</small>
                    </div>
            
                 </div>
                 
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
                         
		                <span th:if="${grammars.isEdit}"> Cập nhật</span> 
		                <span th:unless="${grammars.isEdit}"> Lưu</span>           
                     </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
             </div>

            </form>
		</div>
        </section>
        
</body>

</html>
	<script type="text/javascript">
         console.log("ss");
         CKEDITOR.replace('content');
    </script>  