<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/teacher/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../../../../css/admin.css">

<style>
		table {
		  border-collapse: collapse;
		  border-spacing: 0;
		  width: 100%;
		  border: 1px solid #ddd;
		}
		
		th, td {
		  text-align: left;
		  padding: 8px;
		  min-width: 100px;
		}
	
	</style>
</head>
<body>
	<section class="row text-center" layout:fragment="content">
	
	<div class=" offset-9 col-3 mt-3" style="display: flex;justify-content: end;">
	 <button class="btn btn-info mr-2" data-toggle="tooltip" title="Xuất file excel">
			<a th:href="@{/teacher/reading/export/excel}" style="color:white;text-decoration: none;white-space: nowrap;"> 
				<span> <i class="fa fa-download" aria-hidden="true"> Xuất file</i> </span> 
			</a>
		</button>  
		 <button class="btn btn-success mr-2" title="Thêm mới câu hỏi" data-toggle="tooltip">
			<a th:href=" @{'/teacher/reading/add-reading-question='+${readId}}" style="color:white;text-decoration: none; white-space: nowrap;"> 
				<span> <i class="fa fa-plus-circle"> Thêm</i> </span> 
			</a>
		</button> 
		
		<button class="btn btn-warning mr-2" style="color:white;white-space: nowrap;">
			<a th:href="@{/teacher/reading}" style="color:white;text-decoration: none; white-space: nowrap;"> <strong>Quay lại</strong></a>
		</button>
		
	</div>
		<div class="col-12  mt-3" style="min-height: 600px;">
		<h1>Danh sách câu hỏi bài đọc</h1>
		
		<div th:if="${message!=null}" class="alert alert-info" role="alert"> <strong>[[${message}]]</strong></div>
		<div th:if="${error!=null}" class="alert alert-danger" role="alert"> <strong>[[${error}]]</strong></div>
					
				<div  style="overflow-x: auto;">
			<table class="table table-striped table-inverse">
				<thead class="thead-inverse">
						<tr>				
								<th style="min-width:300px;">Đoạn văn</th>
								<th style="min-width:300px;">Câu hỏi</th>
								<th>Câu A</th>
								<th>Câu B</th>
								<th>Câu C</th>
								<th>Câu D</th>
								<th>Đáp án đúng</th>
								<th>Giải thích</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody>
						<tr th:if="${readingDetail.isEmpty()}">
							<td colspan="10" style="text-align: Chưa có thông tin"> Chưa có thông tin</td>
						</tr>
						<tr th:each="item,i : ${readingDetail}">
								<td th:text="${item.paragrahps}"></td>
								<td th:text="${item.question}"></td>
								
								<td th:text="${item.a}"></td>
								<td th:text="${item.b}"></td>
								<td th:text="${item.c}"></td>
								<td th:text="${item.d}"></td>
								<td th:text="${item.correctReading}"></td>
								<td th:text="${item.explains}"></td>
								<td>
									<a data-toggle="tooltip" title="Sửa câu hỏi" th:href="@{'/teacher/reading/edit-question-id='+${item.crId}+'/'+${readId}}" class="btn btn-outline-success"> <i class="fas fa-edit"></i> </a>
									<!-- <a th:href="@{'/teacher/reading/delete-question-id='+${item.crId} +'/'+${readId}}" class="btn btn-outline-danger mt-1"> <i class="fas fa-trash"></i> </a> -->	
									<a 		
									class="btn btn-outline-danger mt-1"
								 	th:data-id=${item.crId}
								 	th:data-ids=${readId}
									onclick="showConfirmModalDelete(this.getAttribute('data-id'), this.getAttribute('data-ids'))"
									title="Xóa câu hỏi" data-toggle="tooltip"
								 ><i class="fas fa-trash"> </i>  </a>
									
								</td>
						</tr> 
						</tbody>
					</table>
					</div>	
					<div th:if="${totalPages > 1}" style="display: grid;">
			 	<!-- item start of end of current page -->
					 	<span class="text-center" th:if="${currentPage==1}">Hàng 1 - [[${itemStart}]] trong tổng [[${totalItems}]] hàng. </span>
						<span class="text-center" th:if="${currentPage>1 && currentPage<totalPages}">Hàng [[${itemStart-4}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage==totalPages}">Hàng [[${itemStart-4}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
						<!-- Page current: <input type="text" th:value="${currentPage}" style="width:30px; text-align: center; margin-bottom:6px;"/> -->
                        
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
				 			<!--  Trang đầu tiên -->
							<li class="page-item ml-3"><a class="page-link"
								aria-label="Previous"
								th:if="${currentPage <= totalPages && currentPage>1}"
								th:href="@{'/teacher/reading/info-id='+${readId}+'/page/1' }">
									<span aria-hidden="true">Trang đầu</span> <span class="sr-only"
									th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
							</a></li>
							
							<!--  về trang trước trang hiện tại -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/teacher/reading/info-id='  + ${readId}+'/page/' + ${currentPage - 1}}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>

                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/teacher/reading/info-id='  + ${readId}+'/page/' + ${i}}">[[${i}]]</a></li>
                               
                               
                                <!--  đến trang sau trang hiện tại -->
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/teacher/reading/info-id='  + ${readId}+'/page/' + ${currentPage + 1}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                                
                                <!--  đến trang cuối cùng -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/teacher/reading/info-id='  + ${readId} + '/page/' + ${totalPages}} ">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
			 	</div>
		</div>
					
			</div>
			
			<script>
					  function showConfirmModalDelete(id,ids){
					    $('#yesOption').attr('href','/webtoeic/teacher/reading/delete-question-id='+id+'/'+ids);
						$('#confirmationId').modal('show');
					  }
				</script>

				<!-- Modal -->
				<div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Xác nhận</h5>
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				            <span aria-hidden="true">&times;</span>
				          </button>
				      </div>
				      <div class="modal-body">
				        Bạn chắc chắn xóa câu hỏi này không ?
				      </div>
				      <div class="modal-footer">
				        <a id="yesOption" type="button" class="btn btn-danger">Yes</a>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				      </div>
				    </div>
				  </div>
				</div>
	</section>
</body>
</html>

<script>
$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>