<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/teacher/dashboardLayout.html}">
<head>
	<meta charset="UTF-8">
	<style>
				table {
				  border-collapse: collapse;
				  border-spacing: 0;
				  width: 100%;
				  border: 1px solid #ddd;
				}
				
				th, td {
				  text-align: left;
				  padding: 8px;
				  min-width: 150px;
				}
			</style>
</head>
<body>
	<section class="row text-center" layout:fragment="content" style="margin:0;">
		<div class="col-12 mt-3" style="display: flex; justify-content: space-between;">
			<form th:action="@{/teacher/reading/page/1}" class="d-flex" >
					 <input type="hidden"  name="sortField" th:value="${sortField}"/>
					 <input type="hidden"  name="sortDir" th:value="${sortDir}"/>
					 
				        <select class="form-control mr-2" name="searchPart" data-toggle="tooltip"  title="Phần thi">
				        	 <option value="0" th:selected="${searchPart==0}">Tất cả</option>
	                         <option value="1" th:selected="${searchPart==1}">Phần 5 - Hoàn thành câu</option>
	                         <option value="2" th:selected="${searchPart==2}">Phần 6 - Hoàn thành đoạn văn</option>
	                         <option value="3" th:selected="${searchPart==3}">Phần 7 - Đọc hiểu</option>
	                    </select>
	                    
	                    <select class="form-control mr-2" name="searchLevel" data-toggle="tooltip"  title="Độ khó">
	                    
				        	 <option value="0" th:selected="${searchLevel==0}">Tất cả</option>
	                         <option value="1" th:selected="${searchLevel==1}">Dễ</option>
	                         <option value="2" th:selected="${searchLevel==2}">Vừa</option>
	                         <option value="3" th:selected="${searchLevel==3}">Khó</option>
	                         
	                    </select> 
				        <button class="btn btn-info ml-2" type="submit" style="white-space: nowrap;" data-toggle="tooltip"  title="Tìm kiếm"><i class="fa fa-search" aria-hidden="true"></i> </button>
			</form>
				
			<button class="btn btn-success" data-toggle="tooltip"  title="Thêm mới bài đọc"> 
				<a th:href=" @{/teacher/reading/add} "  style="color:white;text-decoration: none;" > <i class="fa fa-plus-circle"> Thêm</i> </a>
			</button>
		</div>

	
	
	
		<div class="col-12 mt-3" style="min-height: 600px;">
			<div class="card">
				<div class="card-header text-center">
					<h2>Quản lý bài đọc</h2>
				</div>
				
				<div class="card-body" style="overflow-x:auto;">
					<div th:if="${message!=null}" class="alert alert-info text-center" role="alert"> <strong>[[${message}]]</strong> </div>
					<div th:if="${error!=null}" class="alert alert-danger text-center" role="alert"> <strong>[[${error}]]</strong> </div>
					<table class="table table-striped table-inverse">
						<thead class="thead-inverse">
							<tr>
								
								<th><a data-toggle="tooltip"  title="Sắp xếp theo tên" th:href="@{'/teacher/reading/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}+ '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}" style="text-decoration: none;">
											Tên bài đọc</a></th>			
								
								
								<th><a data-toggle="tooltip"  title="Sắp xếp theo phần thi" th:href="@{'/teacher/reading/page/' + ${currentPage} + '?sortField=part&sortDir=' + ${reverseSortDir}+ '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}" style="text-decoration: none;">
											Phần thi</a></th>	
								<th><a data-toggle="tooltip"  title="Sắp xếp theo độ khó" th:href="@{'/teacher/reading/page/' + ${currentPage} + '?sortField=level&sortDir=' + ${reverseSortDir}+ '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}" style="text-decoration: none;">
											Độ khó</a></th>	
								<th>Ảnh</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody>
						
							<tr th:if="${reading.isEmpty()}">
									<td colspan="6" style="text-align: center;"> Chưa có thông tin</td>
							</tr>
							<tr th:each=" item: ${reading}">
						
								<td th:text="${item.name}"></td>
	
								<!-- part -->
								<td th:if="${item.part==1}" >Phần 5 - Hoàn thành câu</td>
								<td th:if="${item.part==2}" >Phần 6 - Hoàn thành đoạn văn</td>
								<td th:if="${item.part==3}" >Phần 7 - Đọc hiểu</td>
								
								<!-- level --> 
								<td th:if="${item.level==1}" th:text="Dễ"></td>
								<td th:if="${item.level==2}" th:text="Vừa"></td>
								<td th:if="${item.level==3}" th:text="Khó"></td>
								
								
								<td >
								
								<img th:src="@{${item.image}}" style="width:30px;height:30px;">
								</td>
								<!-- action -->
								<td>
								
								<a data-toggle="tooltip"  title="Nội dung bài đọc" th:href="@{'/teacher/reading/info-id='+${item.readId}+'/page/1'}" class="btn btn-outline-info"> <i class="fas fa-info"></i> </a>
								
								<a data-toggle="tooltip"  title="Chỉnh sửa bài đọc" th:href="@{'/teacher/reading/edit-id='+${item.readId}}" class="btn btn-outline-success"> <i class="fas fa-edit"></i> </a>
								
								
								<!-- <a th:href="@{'/teacher/reading/delete-id='+${item.readId}}" class="btn btn-outline-danger"> <i class="fas fa-trash"></i> </a> -->
								<a 
									class="btn btn-outline-danger"
								 	th:data-id=${item.readId}
									th:data-name=${item.name} 
									onclick="showConfirmModalDelete(this.getAttribute('data-id'), this.getAttribute('data-name'))"
									title="Xóa bài đọc" data-toggle="tooltip" 
								 ><i class="fas fa-trash"> </i>  </a>
								</td>
								
							</tr>
						</tbody>
					</table>

				</div>
				
				
				
				<script>
					  function showConfirmModalDelete(id,name){
					    $('#name').text(name);
					    $('#yesOption').attr('href','/webtoeic/teacher/reading/delete-id='+id);
						$('#confirmationId').modal('show');
					  }
				</script>

				<!-- Modal -->
				<div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Xác nhận</h5>
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				            <span aria-hidden="true">&times;</span>
				          </button>
				      </div>
				      <div class="modal-body">
				        Bạn chắc chắn xóa không?
				      </div>
				      <div class="modal-footer">
				        <a id="yesOption" type="button" class="btn btn-danger">Xóa</a>
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
				
				
				<div class="card-footer text-muted" th:if="${totalPages > 1}">
					 <span class="text-center" th:if="${currentPage==1}">Hàng 1 - [[${itemStart}]] trong tổng [[${totalItems}]] hàng. </span>
						<span class="text-center" th:if="${currentPage>1 && currentPage<totalPages}">Hàng [[${itemStart-4}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage==totalPages}">Hàng [[${itemStart-4}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
	                            <li class="page-item ml-3"><a class="page-link"
									aria-label="Previous"
									th:if="${currentPage <= totalPages && currentPage>1}"
									th:href="@{'/teacher/reading/page/' + 1+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}">
										<span aria-hidden="true">Trang đầu</span> <span class="sr-only"
										th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
								</a></li>

                                <li class="page-item " >
                                    
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/teacher/reading/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}" 
                                    >
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>

                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/teacher/reading/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}">[[${i}]]</a></li>
                               
                               
                               
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/teacher/reading/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}+ '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                                
                                 <!--  đến trang cuối cùng -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/teacher/reading/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&searchPart=' + ${searchPart} + '&searchLevel=' + ${searchLevel} } ">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

			</div>

		</div>
	</section>
	
	
	
	

	
</body>
</html>

<script>	
$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
</script>