<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/teacher/dashboardLayout.html}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
        <section class="row" layout:fragment="content"> 
         <div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end;">
	        <button class="btn btn-warning" >
					<a th:href="@{/teacher/reading}" style="color: white; text-decoration: none;"> 
						<strong>Quay lại</strong>
					</a>
			</button>
        </div>
        <div class="col-md-12 mt-3">
          <form  th:action="@{/teacher/reading/save}" method="post" th:object="${reading}" enctype="multipart/form-data">
             <div class="card">
                 <div class="card-header text-center">
                    <h2>Thêm mới bài đọc</h2>
                 </div>
                 <div class="card-body">
                    <div class="form-group">
                      <input type="hidden" th:field="*{readId}" id="readingId" class="form-control" placeholder="readinging Id" aria-describedby="readingIdHelpId" readonly="False">
                    </div>
                    
                      <label  th:if="${message != null}"  th:text="${message}" style="color:red;"></label>
                  
                    <div class="form-group">
                      <label for="">Tên bài đọc:</label>
                      <input type="text" class="form-control" th:field="*{name}" id="name" aria-describedby="nameHelpId" placeholder="Tên bài đọc">
                    </div>
                    
                     <div class="form-group">
                        <label for="status">Phần:</label>
                            <select class="form-control" th:field="*{part}" id="status">
                               <option value="1" selected>Phần 5 - Hoàn thành câu</option>
                               <option value="2">Phần 6 - Hoàn thành đoạn văn</option>
                               <option value="3">Phần 7 - Đọc hiểu</option>
                            </select>
                     </div>
                     
                      <div class="form-group">
                        <label for="status">Độ khó:</label>
                            <select class="form-control" th:field="*{level}" id="status">
                               <option value="1" selected>Dễ</option>
                               <option value="2" >Vừa</option>
                               <option value="3">Khó</option>
                            </select>
                     </div>
                     
                     
                      <script>
							function chooseFile(fileInput) {
								if (fileInput.files && fileInput.files[0]) {
									var reader = new FileReader();
									reader.onload = function(e) {
										$('#image').attr('src', e.target.result);
									}
									reader.readAsDataURL(fileInput.files[0]);

								}
							}
						</script>
						

                   <div class="form-group">
                         <label for="imageVocab" >File ảnh bài đọc:</label>
                         <input  type="file" class="form-control" id="file_imageVocab" name="file_imageQuestion"   onchange="chooseFile(this)"  accept=".png,jpg"/>
						 <img id="image" th:src="@{/image/anhbaidoc.jpg}" class="img-fluid" alt="hình ảnh" style="height:130px;width:230px;margin-top:10px;">	 
                   </div>
            
                    <div class="form-group">
                         <label for="fileExcel" >File nội dung <a th:href="@{../../resources/file/mau/mau_bai_doc.xlsx}">(Tải file mẫu)</a></label>
                         <input type="file" class="form-control" id="file_Excel" name="file_Excel" accept=".xlsx,.xls" >
                    </div>  

                 </div>
                 
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
		                 <span> Lưu</span>                   
                     </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
             </div>

            </form>
</div>
        </section>
</body>
</html>