<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/teacher/dashboardLayout.html}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
        <section class="row" layout:fragment="content"> 
        
         <div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end;">
	        <button class="btn btn-warning" >
	        	<a th:href="@{'/teacher/reading/info-id='+${readingId}+'/page/1'}" style="color:white;text-decoration:none;"> <strong>Quay lại</strong></a>
			
			</button>
        </div>
	        
         <div class="col-md-12">
		    <form  th:action="@{/teacher/reading/save-question}" method="post" th:object="${readingQuestion}" enctype="multipart/form-data">
             <div class="card mt-3">
                 <div class="card-header">
                   <h2 style="text-align:center" th:unless="${readingQuestion.isEdit}">Thêm câu hỏi bài đọc</h2>
                   <h2 style="text-align:center" th:if="${readingQuestion.isEdit}">Sửa câu hỏi bài đọc</h2>
                 </div>
                 
                  
                 <div class="card-body">
                 
                	 <div th:if="${error!=null}" class="alert alert-danger" role="alert"> <strong>[[${error}]]</strong></div>
                	 
                   <div class="form-group">
                   	 <input type="hidden" th:field="*{isEdit}">
                  	  <input type="hidden" th:field="*{crId}" id="listenId" class="form-control" placeholder="Listening Id" aria-describedby="ListenIdHelpId" th:if="${readingQuestion.isEdit}" readonly="False" >
                    </div>
                	
                    <div class="form-group">
                      <label for="paragrahpsId">Đoạn văn:</label>
                      <input type="text" th:field="*{paragrahps}" id="paragrahpsId" class="form-control" placeholder="Nhập đoạn văn" >
                      
                    </div>
                    
                     <div class="form-group">
                      <label for="questionId">Câu hỏi(<strong style="color:red;">*</strong>):</label>
                      <input type="text" th:field="*{question}" id="paragrahpsId" class="form-control" placeholder="Nhập đoạn văn" >
                      <small th:if="${#fields.hasErrors('question')}" id="questionId"  style="color:red;">Trường câu hỏi không được bỏ trống!</small>
                    </div>
                    
                    <div class="form-group">
                      <label for="aId">Đáp án A(<strong style="color:red;">*</strong>):</label>
                      <input type="text" th:field="*{a}" id="aId" class="form-control" placeholder="Nhập đáp án A..." aria-describedby="aIdHelpId" >
                      <small th:if="${#fields.hasErrors('a')}" id="aIdHelpId"  style="color:red;">Trường đáp án A không được bỏ trống!</small>
                    </div>
                    
                    
                    
                   <div class="form-group">
                        <label for="bId">Đáp án B(<strong style="color:red;">*</strong>):</label>
                      	<input type="text" th:field="*{b}" id="bId" class="form-control" placeholder="Nhập đáp án B..." aria-describedby="bIdHelpId" >
                    	<small th:if="${#fields.hasErrors('b')}" id="bIdHelpId"  style="color:red;">Trường đáp án B không được bỏ trống!</small>
                   </div>
                    
                    
                    
                    <div class="form-group">
                      <label for="cId">Đáp án C(<strong style="color:red;">*</strong>):</label>
                      <input type="text" th:field="*{c}" id="cId" class="form-control" placeholder="Nhập đáp án C..." aria-describedby="cIdHelpId" >
                      <small th:if="${#fields.hasErrors('c')}" id="cIdHelpId"  style="color:red;">Trường đáp án C không được bỏ trống!</small>
                    </div>
                    
                    
                    <div class="form-group">
                      <label for="dId">Đáp án D: </label>
                      <input type="text" th:field="*{d}" id="dId" class="form-control" placeholder="Nhập đáp án D..." aria-describedby="ListenIdHelpId" >
                    </div>
                    
                     <div class="form-group">
                     	 <label for="dId">Đáp án đúng:</label>
                    	 <select class="form-control mr-2" name="correctReading" title="Đáp án đúng">
				        	 <option value="A" th:selected="${correctReading=='A'}">A</option>
	                         <option value="B" th:selected="${correctReading=='B'}">B</option>
	                         <option value="C" th:selected="${correctReading=='C'}">C</option>
	                         <option value="D" th:selected="${correctReading=='D'}">D</option>
	                             
                   		 </select>
                    </div>  
                     <div class="form-group">
                       <label for="">Giải thích: </label>
                      	<input type="text" th:field="*{explains}" id="listenId" class="form-control" placeholder="Nhập giải thích..." aria-describedby="ListenIdHelpId" >
                    </div>
 
                    <div class="form-group" >
                    
                      <input type="hidden" th:value="${readingId}" name="readingId" id="listenId" class="form-control" placeholder="Listening Id" aria-describedby="ListenIdHelpId" readonly="False" >
                      
                    </div>

                 </div>
                 
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
		                  <span th:unless="${readingQuestion.isEdit}"> Lưu</span>    
		                  <span th:if="${readingQuestion.isEdit}"> Cập nhật</span>          
                     </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
                 
             </div>

            </form>
		    </div>
		   
        </section>
        <script>
function backpage(){
    history.back();
}</script>
</body>
</html>

