<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section class="row text-center" layout:fragment="content">
			<div class="col-12 mt-3" style="display: flex; justify-content: space-between;">
			<form th:action="@{/admin/account/page/1}" class="d-flex" >
					 <input type="hidden"  name="sortField" th:value="${sortField}"/>
					 <input type="hidden"  name="sortDir" th:value="${sortDir}"/>
                      <select class="form-control" name="search" id="categoryID"  data-toggle="tooltip" title="Vai trò">
						 <option th:each=" item: ${listUserRoleId}" th:value="${item.id}" th:text="${item.name}" th:selected="${search==item.id}">Categoty Name</option>
					  </select>
				        <button class="btn btn-info ml-2" type="submit" style="white-space: nowrap;" data-toggle="tooltip" title="Tìm kiếm"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
				
			<button class="btn btn-success" data-toggle="tooltip" title="Thêm mới tài khoản" ><a th:href=" @{/admin/account/add} " 
			style="color:white;text-decoration: none;"><span> <i class="fa fa-plus-circle"> Thêm</i> </a></button>
		</div>
	
			
            
                  
		<div class="col-12  mt-3" style="min-height: 600px;">
			<div class="card">
				<div class="card-header text-center">
				<h1> Quản lý tài khoản</h1>
				
				</div>
				<div class="card-body">
					<div th:if="${message!=null}" class="alert alert-info"
								role="alert">
								<strong>[[${message}]]</strong>
						</div>
						<div th:if="${error!=null}" class="alert alert-danger"
								role="alert">
								<strong>[[${error}]]</strong>
						</div>
					<table class="table table-striped table-inverse">
						<thead class="thead-inverse">
							<tr>
								<th style="text-align: left;">Tên tài khoản</th>
								<th style="text-align: left;">Họ tên</th>
								<th style="text-align: left;">Số điện thoại</th>
								<th style="text-align: left;">Địa chỉ</th>
								<th style="text-align: left;">Quyền</th>
								<th style="text-align: left;">Trạng thái</th>
								<th style="text-align: left;">Hành động</th>
							</tr>
						</thead>
						<tbody>
						
						
						<tr th:each=" item: ${accounts}">
						
								<td th:text="${item.username}" style="text-align: left;"></td>
								<td th:text="${item.fullName}" style="text-align: left;"></td>
								<td th:text="${item.phoneNumber}" style="text-align: left;"></td>
								<td th:text="${item.address}" style="text-align: left;"></td>
								
								<!-- role -->
								<td th:each="role:${userService.findListRolesOfUser(item.id)}" th:text="${role}" style="text-align: left;">	
								
								 </td> 
								
								<!-- Active -->
								<td th:if="${item.enabled==true}" style="text-align: left;">Đã kích hoạt</td>
								<td th:if="${item.enabled==false}" style="text-align: left;">Chưa kích hoạt</td>

								<!-- action -->
								<td>
								<a th:href="@{'/admin/account/block-id='+${item.id}}" class="btn btn-outline-danger" th:if="${item.enabled==true}"  data-toggle="tooltip" title="Khóa tài khoản" ><i class="fa fa-times-circle" aria-hidden="true"></i> </a>
								<a th:href="@{'/admin/account/active-id='+${item.id}}" class="btn btn-outline-info" th:if="${item.enabled==false}"  data-toggle="tooltip" title="Mở khóa tài khoản" > <i class="fas fa-check-circle"></i> </a>	
								</td>
							</tr>
						</tbody>
					</table>

				</div>

				<!-- pageble -->
				<div class="card-footer text-muted text-center" th:if="${totalPages > 1}">
					<!-- item start of end of current page -->
					 	<span class="text-center" th:if="${currentPage==1}">Hàng: 1 - [[${itemStart}]] trong tổng  [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage>1 && currentPage<totalPages}">Hàng: [[${itemStart-4}]] - [[${itemStart}]] trong tổng [[${totalItems}]]  hàng. </span>
						<span class="text-center" th:if="${currentPage==totalPages}">Hàng: [[${itemStart-4}]] - [[${totalItems}]] trong tổng [[${totalItems}]]  hàng.</span>
						<!-- Page current: <input type="text" th:value="${currentPage}" style="width:30px; text-align: center; margin-bottom:6px;"/> -->
					
					<nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                           <!--  Trang đầu tiên -->
                              <li class="page-item ml-3" >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/admin/account/page/' + 1+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +'&search='+${search}}" 
                                    >
                                        <span aria-hidden="true">Trang đầu</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                </li> 
                                
                            <!--  về trang trước trang hiện tại -->
                                <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage>1}" 
                                    th:href="@{'/admin/account/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&search='+${search}}" 
                                    >
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                                    
                                </li>
 							
                                <li class="page-item active" 
                                th:each="i: ${#numbers.sequence(1, totalPages)}"
                                th:class="${currentPage==i} ?'page-item active':'page-item'">
                                <a class="page-link"  th:href="@{'/admin/account/page/' + ${i}+'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}} + '&search='+${search}">[[${i}]]</a>
                                </li>
                               
                               
                               <!--  đến trang sau trang hiện tại -->
                                <li class="page-item" >
                                    <a class="page-link" aria-label="Next" th:if="${currentPage < totalPages}" th:href="@{'/admin/account/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&search='+${search}}">
                                        <span aria-hidden="true">&raquo; </span>
                                        <span class="sr-only">Next</span>
                                    </a> 
                                </li>
                               <!--  đến trang cuối cùng -->
                               <li class="page-item " >
                                    <a class="page-link" aria-label="Previous" 
                                    th:if="${currentPage <= totalPages && currentPage<totalPages}" 
                                    th:href="@{'/admin/account/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&search='+${search}}">
                                        <span aria-hidden="true">Trang cuối</span> 
                                        <span class="sr-only"  th:unless="${currentPage <= totalPages && currentPage>1}">Previous</span>
                                    </a>
                               </li>
                                
                            </ul>
                        </nav>
					</div>
                        
                    </div>


			</div>

		</div>


	</section>
</body>
</html>

<script>	
$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
</script>