<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/admin/dashboardLayout.html}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
        <section class="row" layout:fragment="content"> 
        <div class="col-md-12 mt-4" style="min-height: 600px;">
          <form  th:action="@{/admin/account/saveOrEdit}" method="post" th:object="${user}">
             <div class="card">
                 <div class="card-header text-center">
                    <h2>Thêm mới tài khoản</h2>
                 </div>
               
                	<div class="form-group mt-3" >
                	<input type="hidden" th:field="*{isEdit}">
                	<label>Tên đăng nhập:</label>
					<input type="text" class="form-control" id="username"
								th:field="*{username}" placeholder="Nhập tên đăng nhập"
								autofocus="autofocus">
					<small th:if="${#fields.hasErrors('username')}" id="phoneNumberIdHelpId"  style="color:red;">Trường tên đăng nhập không được bỏ trống.</small>
					<span th:text="${error}" style="color:red;"></span>
						</div>

						<div class="form-group">
							<label>Mật khẩu:</label>
							<input th:unless="${user.isEdit}" type="password" id="password" th:field="*{password}"
								class="form-control" placeholder="Nhập mật khẩu"  />
							<input th:if="${user.isEdit}" type="text" id="password" th:field="*{password}"
								class="form-control" placeholder="Enter Password"   />	
							<span th:if="${#fields.hasErrors('password')}" style="color:red;"> Nhập ít nhất 5 kí tự.</span>
						</div>
						<div class="form-group">
							<label>Họ & tên:</label>
							<input type="text" class="form-control" id="fullName"
								th:field="*{fullName}" placeholder="Nhập họ tên" >
							 <small th:if="${#fields.hasErrors('fullName')}" id="fullNameIdHelpId"  style="color:red;">Trường họ & tên không được bỏ trống.</small>
						</div>				
						<div class="form-group">
							<label>Địa chỉ:</label>
							<input type="text" class="form-control" id="address"
								th:field="*{address}" placeholder="Nhập địa chỉ" >
								
							<small th:if="${#fields.hasErrors('address')}" id="addressIdHelpId"  style="color:red;">Trường địa chỉ không được bỏ trống.</small>
						</div>
						<div class="form-group">
							<label>Số điện thoại:</label>
							<input type="text" class="form-control" id="phonenumber"
								th:field="*{phoneNumber}" placeholder="Nhập số điện thoại" >
							<small th:if="${#fields.hasErrors('phoneNumber')}" id="phoneNumberIdHelpId"  style="color:red;">Trường số điện thoại không được bỏ trống.</small>
						</div>
						
						<div class="form-group">
							<label>Vai trò:</label>
							<select class="form-control" name="listUserRoleId" id="categoryID">
								<option th:each=" item: ${listUserRoleId}" th:value="${item.id}" th:text="${item.name}"></option>
							</select>
						</div>
                 <div class="card-footer text-muted">
                     <button class="btn btn-primary"><i class="fas fa-save"></i>
		                 <span th:if=${user.isEdit}> Cập nhật</span> 
		                 <span th:unless=${user.isEdit}>Lưu</span>                   
                     </button>
                     <button class="btn btn-success" type="reset">Đặt lại</button>
                 </div>
                 
             </div>

            </form>
</div>
        </section>
       
</body>
</html>