@charset "ISO-8859-1";

html,body{
width:100%;
font-family: 'Numans', sans-serif;

}

#sidebar {
    background-color: #363636;
  	overflow: hidden;
  	width:100%;
  	height:100%;
}
.side-bar>li{
    height: 40px;
}


.side-bar > li > a{
    text-decoration: none;
    color: #fff;  
  }
.side-bar li:hover{
    background-color: lightslategrey;
}

#sidebar ul li {
	background-color: #363636;
}
#sidebar .active{
	background-color: grey;
}

.footer-copyright{
	color:white;
}

.page-footer{
	background:#363636;
	color:white;
}

.sidenav {
  height: 100%;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #363636;
  font-size:1rem;
font-family: 'Numans', sans-serif;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
  