.category {
	background-color: #f5f5f5;
}

.w2 {
	color: #0000BB;
}

.time{
	color:#007700;
}
.my-class{
background-color: #FF9900;

}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #FF6600;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #FF3300;
}

.paragraph {
	padding:10px;
	white-space: pre-wrap;
	word-break: break-word;
	text-align: justify;
	background: #f3f7fa;
	color: #222;
	font-size: 18px;
	font-family: 'Open Sans';
}
	.fix-scrolling {
		max-height: 450px;
		margin-left: 0px;
		/*overflow-y: scroll;*/
	}

	.numberCircle {
/* 	display: inline-block; */
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	border: 2px solid #666;
	margin: 5px 5px 5px 15px;
	float:left;
}

.web-font {
	font-size: 13px;
	font-family: 'Arial';
}

#main {
	padding-top: 120px;
	
}

@media ( min-width : 767px) {
	#navigation {
		margin-top: 0px;
		position: fixed;
	
	
	}}