* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
}

.main-container {
	min-height: calc(100vh - 136px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card {
	width: 100%;
	max-width: 800px;
	margin-top: 100px;
}

img {
	width: 100%;
	max-width: 300px;
	position: relative;
	display: block;
	margin: -180px auto 50px auto;
}

.card button {
	width: 45%;
}

footer {
	height: 80px;
	text-align: center;
	line-height: 80px;
}