<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/user/dashboardLayout.html}"
>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../css/content.css" />
	<link rel="stylesheet" href="../../css/style.css" />
</head>
<body>
        <section class="row" layout:fragment="content">
	        <div class="offset-2 col-8 offset-2 mt-3" style="display: flex; justify-content: flex-end;">
		        <button class="btn btn-warning" >
						<a th:href="@{/}" style="color: white; text-decoration: none;"> 
							<strong>Quay lại</strong>
						</a>
				</button>
	        </div>
        <div class="offset-2 col-8 offset-2 mt-3 mb-3" style="min-height: 600px;">
	        <div th:if="${message!=null}" class="alert alert-info text-center" role="alert"> <strong>[[${message}]]</strong> </div>
			<div th:if="${error!=null}" class="alert alert-danger text-center" role="alert"> <strong>[[${error}]]</strong> </div>
          <form  th:action="@{/user/profile/changePassword}" method="post">
	     	<div class="card">
	                 <div class="card-header text-center">
	                    <h2 class="w2">Cập nhật mật khẩu</h2>
	                 </div>
			            <div class="card-body">
				              <div class="form-group"> 
				              		<label for="">Nhập mật khẩu hiện tại</label>         
				                   <input type="text" name="currentPassword" class="form-control" placeholder="Mật khẩu hiện tại" aria-describedby="ListenIdHelpId">
				              </div>
			                  
			                  <div class="form-group">   
			                 	 <label for="">Nhập mật khẩu mới</label>         
			                      <input type="text"    name="newPassword" class="form-control" placeholder="Nhập mật khẩu mới" aria-describedby="ListenIdHelpId">
			                   </div>
			                   
			                   <div class="form-group"> 
			                   	  <label for="">Nhập lại mật khẩu mới</label>              
			                      <input type="text"    name="reNewPassword" class="form-control" placeholder="Nhập mật khẩu mới" aria-describedby="ListenIdHelpId">
			                   </div>
			                  
			
			             </div>
	                 <div class="card-footer text-muted">
	                     <button class="btn btn-primary"><i class="fas fa-save"></i>
			                  <span> Cập nhật</span>                 
	                     </button>
	                     <button class="btn btn-success" type="reset">Đặt lại</button>
	                 </div>
	           
					</div>
	            </form>
			</div>
        </section>
       
</body>
</html>