<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-sm navbar-dark"
			style="width: 100%; position: relative; top: 0; background-color: #363636;">
			<img th:src="@{/image/logo.png}" alt="logo" style="height:80px; margin-left:15px;"/>
			<a class="navbar-brand ml-2" href="/webtoeic/teacher/"> Trang quản trị - Hệ thống luyện thi Toeic</a>
			<div class="collapse navbar-collapse float-right" style="justify-content: end;">
			
				<ul class="navbar-nav mr-5  mt-lg-2 ">
				
				
				
				  <li class="nav-item dropdown"><a
					class="nav-link " data-toggle="dropdown" href="#" sec:authorize="isAuthenticated()">Xin chào, <strong sec:authentication="name" style="color:blue;"></strong> <i class="fa fa-user" aria-hidden="true"></i></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/teacher/profile}">Thông tin cá nhân</a> 
						<a class="dropdown-item" th:href="@{/teacher/profile/change-password}">Đổi mật khẩu</a> 
						<a class="dropdown-item" href="#" onclick="document.forms['logoutForm'].submit()">Đăng xuất</a>
					</div>
				   </li>

					<li class="nav-item" >
						<form id="logoutForm" th:action="@{/logout}" method="post">
						  	 <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
						</form>
					</li>
					
				</ul>

			</div>
		</nav>
	</div>
</body>
</html>