<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	
</head>
<body>
	<div th:fragment="sidebar" style="height: 100%;">
			<div class="sidenav">
				<a  th:href="@{/teacher/}"> 
					<span style="margin:5px;"><i class="fas fa-tachometer-alt" aria-hidden="true" style="width: 20px;height: 16px;"></i></span>
					<span>Thống kê</span>
				</a>
				<button class="dropdown-btn">
					<span style="margin:5px;"> <i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;Quản lý ôn tập <i class="fa fa-caret-down"></i></span>	
				</button>
				
				<div class="dropdown-container" style="background-color: #363636;">
					<a th:href="@{/teacher/vocabulary}"> 
						<span style="margin:5px;"><i class="fa fa-sticky-note" aria-hidden="true" style="width: 20px;height: 16px;"></i></span>
						<span>&nbsp;&nbsp;Từ vựng</span>
					</a>
					<a  th:href="@{/teacher/grammar/}"> 
						<span style="margin:5px;"><i class="fa fa-american-sign-language-interpreting" aria-hidden="true" style="width: 20px;height: 16px;"></i> </span>
						<span>&nbsp;&nbsp;Ngữ pháp</span>
					</a>
					
				</div>
				
				<button class="dropdown-btn">
					<span style="margin:5px;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Quản lý đề thi <i class="fa fa-caret-down"></i></span>	
				</button>
				<div class="dropdown-container" style="background-color: #363636;">
					<a th:href="@{/teacher/listen}"> 
						<span style="margin:5px;"><i class="fa fa-headphones" aria-hidden="true" ></i></span>
						<span>&nbsp;&nbsp; Phần nghe</span>
							</a>
					<a th:href="@{/teacher/reading}">
								<span style="margin:5px;"><i  class="fa fa-book" aria-hidden="true" style="width: 20px;height: 16px;"></i></span>	
						 		<span>&nbsp;&nbsp;Phần đọc</span>
						 	</a>
					<a th:href="@{/teacher/test-exam}">
								<span style="margin:5px;"><i class="fa fa-list" aria-hidden="true" style="width: 20px;height: 16px;"></i></span>
						 		<span>&nbsp;&nbsp;Đề thi</span>
						 	</a>
				</div>
				<a  th:href="@{/teacher/history}"> 
					<span style="margin:5px;"><i class="fa fa-history" aria-hidden="true" style="width: 20px;height: 16px;"></i> </span>
					<span>Lịch sử thi</span>
				</a>
			</div>
</div>
</body>
</html>

