<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/admin/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
	<style type="text/css">
		 body {
            background: #eee;
            font-family: 'Raleway', sans-serif;
        }

        .main-part {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            padding: 0px 5px;
        }

        .cpanel {
            width: 32%;
            display: inline-block;
            background-color: #34495E;
            color: #fff;
            margin-top: 50px;
        }

        .icon-part i {
            font-size: 30px;
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 50%;
            margin-top: -25px;
            margin-bottom: 10px;
            background-color: #34495E;
        }

        .icon-part p {
            margin: 0px;
            font-size: 20px;
            padding-bottom: 10px;
        }

        .card-content-part {
            background-color: #2F4254;
            padding: 5px 0px;
        }

        .cpanel .card-content-part:hover {
            background-color: #5a5a5a;
            cursor: pointer;
        }

        .card-content-part a {
            color: #fff;
            text-decoration: none;
        }

        .cpanel-green .icon-part,
        .cpanel-green .icon-part i {
            background-color: #16A085;
        }

        .cpanel-green .card-content-part {
            background-color: #149077;
        }

        .cpanel-orange .icon-part,
        .cpanel-orange .icon-part i {
            background-color: #F39C12;
        }

        .cpanel-orange .card-content-part {
            background-color: #DA8C10;
        }
		
	</style>
</head>
<body>
	<section class="row text-center" layout:fragment="content">
		<div class="col-12" style="min-height: 600px;">


			<div class="main-part">
				<div class="cpanel">
					<div class="icon-part">
						<i class="fa fa-users" aria-hidden="true"></i><br> <small>Giáo viên</small>
						<p>[[${countTeacher}]]</p>
					</div>
					<div class="card-content-part">
						<a th:href="@{/admin/account/page/1?sortField=id&sortDir=asc&search=3}">Xem chi tiết </a>
					</div>
				</div>
				
				<div class="cpanel cpanel-green">
					<div class="icon-part">
						<i class="fa fa-user" aria-hidden="true"></i><br> <small>Thành viên</small>
						<p>[[${countMember}]]</p>
					</div>
					<div class="card-content-part">
						<a th:href="@{/admin/account/page/1?sortField=id&sortDir=asc&search=2}">Xem chi tiết </a>
					</div>
				</div>
				<div class="cpanel cpanel-orange">
					<div class="icon-part">
						<i class="fa fa-comments" aria-hidden="true"></i><br> <small>Bình luận chưa xem</small>
						<p>[[${countNewComment}]]</p>
					</div>
					<div class="card-content-part">
						<a th:href="@{/admin/comment/page/1?sortField=cGramId&sortDir=asc&searchDisplay=0&searchNewComment=1&searchName=}">Xem chi tiết </a>
					</div>
				</div>

			</div>
		</div>


	</section>
</body>
</html>