<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/user/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<link rel="stylesheet" href="../../css/content.css" />
	<link rel="stylesheet" href="../../css/style.css" />
	
	<link rel="stylesheet" href="../../../css/content.css" />
	<link rel="stylesheet" href="../../../css/style.css" />
</head>
<body>
	<section class="row" layout:fragment="content">
		<div class="col-12 text-center">
			<h2 class="w2"> Đáp án luyện nghe</h2>
			
		
		</div>

		<div class="container" style="min-height: 600px;">
		
	
			
				
			
					
					<div class="ques-box mt-5" th:each="item, i: ${session.listAnserListen}">
					
						<span>[[${item.getCorrectOption()}]]</span>
						<span>[[${item.getOption1()}]]</span>
						<strong>Câu [[${i.index+1}]] :</strong>
						<div class="row mt-2">
						
							<div class="col-6 mr-1" th:if="${item.image!=null && item.image!=''}">
								<img th:src="'/webtoeic'+${item.image}" alt="anh" style="height: 200px;width: 330px;" />
							</div>
							
							<div class="offset-6 mr-1" th:unless="${item.image!=null && item.image!=''}">
								
							</div>
							

							<div class="col-5">
							
								<audio controls th:if="${item.audio!='' && item.audio!=null}">
									<source th:src="'/webtoeic'+${item.getAudio()}" type="audio/mpeg">
								</audio>
								
								<div class="option mt-2">
									<input type="radio" th:name="|questions[${i.index}].chose|" th:value="A" th:id="@{|checkA${i.index}|}" /> 
									<label th:for="@{|checkA${i.index}|}" th:text="${item.getOption1()}"></label>
								</div>

								<div class="option">
									<input type="radio" th:name="|questions[${i.index}].chose|"
										th:value="B"  th:id="@{|checkB${i.index}|}"/> 
										
									<label th:for="@{|checkB${i.index}|}" th:text="${item.getOption2()}"></label>
								</div>

								<div class="option">
									<input type="radio" th:name="|questions[${i.index}].chose|"
										th:value="C" th:id="@{|checkC${i.index}|}" /> 
										
									<label th:for="@{|checkC${i.index}|}" th:text="${item.option3}"></label>
								</div>

								<div class="option">
									<input type="radio" th:name="|questions[${i.index}].chose|"
										th:value="D"  th:id="@{|checkD${i.index}|}"/>
										
									<label th:for="@{|checkD${i.index}|}" th:text="${item.option4}"></label>
								</div>

								<input type="hidden" th:name="|questions[${i.index}].cListentId|" th:value="${item.cListentId}" /> 
								<input type="hidden" th:name="|questions[${i.index}].question|" th:value="${item.question}" /> 
								<input type="hidden" th:name="|questions[${i.index}].correctOption|" th:value="${item.correctOption}" />
							</div>
						</div>
				</div>
			</div>
			

	</section>	
</body>
</html>


<script>
function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

       if (--timer < 0) {
            timer = duration;
        } 

       if(timer==0){
        	console.log('submit nè');
        	document.getElementById("myForm").submit();
        }
    }, 1000);
}

window.onload = function () {
    var time =60*10;
    display = document.querySelector('#time');
    startTimer(time, display);

};

</script>